<noindex>
<div id="IE">
	Вы используете устаревший браузер.
	<br />Чтобы использовать все возможности сайта, загрузите и установите один из этих браузеров:
	<div style="position: absolute; font-family: Tahoma, 'Segoe Print';font-size: 10px; text-align: right; color: #A3B0BC; top: 5px; right: 10px; width: 350px;">
		<i>Internet Explorer - Это такая программа, <br />с помошью которой можно выйти в интернет <br />и скачать нормальный браузер</i>
	</div>
	<br />
	<li>
		<a href="http://www.mozilla-europe.org/" target="_blank">
			<img src="img/firefox.png" border="0" class="img">
			<b>Mozilla Firefox</b>
		</a>
	</li>
	<li>
		<a href="http://www.opera.com/" target="_blank">
			<img src="img/opera.png" border="0" class="img">
			<b>Opera</b>
		</a>
	</li>
	<li>
		<a href="http://www.google.com/chrome/" target="_blank">
			<img src="img/chrome.png" border="0" class="img">
			<b>Google Chrome</b>
		</a>
	</li>
	<li>
		<a href="http://www.apple.com/safari/" target="_blank">
			<img src="img/safari.png" border="0" class="img">
			<b>Apple Safari</b>
		</a>
	</li>
</div>
</noindex>