blockquote {@extend .ptsans;}

/* Add BS Blockquote style */
@each $title, $color in $colors {
	blockquote.quote-#{$title} {
		border-left: .2rem solid #{$color};background-color: $bq-background;padding: .5rem;
		& > h1,	> h2, > h3, > h4, > h5, > h6 {
			color: #{$color};
		}
	}
}

/*blockquote.blockquote h1, blockquote.blockquote h2,
blockquote.blockquote h3, blockquote.blockquote h4,
blockquote.blockquote h5, blockquote.blockquote h6 {margin: 0 0 10px 0;padding: 0;}*/

blockquote[class^="quote-"] > p:last-child {
	margin-bottom: 0;
}