/* Inputs invalid and error glowing */
$ifglow: alpha($brand-danger) * .6;
input:focus:invalid {	/* transition: all 0.15s ease-in-out;-webkit-transition: all 0.15s ease-in-out;-moz-transition: all 0.15s ease-in-out;outline:none; */
	-moz-box-shadow: 0 0 0 .2rem fade-out($brand-danger, $ifglow); -webkit-box-shadow: 0 0 0 .2rem fade-out($brand-danger, $ifglow);box-shadow: 0 0 0 .2rem fade-out($brand-danger, $ifglow);
	border: 1px solid $brand-danger;
	background: $white url(../img/required.png) no-repeat right top !important;
}
input:required:empty {background: $white url(../img/required.png) no-repeat right top !important;}
input.non-bgreq:required:empty,
input:required:valid {background-image: none !important;}