/* logo */
#logo {max-height: 37px;margin-top: -8px;margin-bottom: -4px;}
.logo-xs {max-width: 100%;padding: 10px 0;margin-top: -1rem;}

/* Style for attached files */
.attach-img {width: 160px;}
.input-alt-text {
	padding: 1px !important;
	height: 1.6rem !important;
	margin-top: 3px !important;
	border: 1px solid $white !important;
}
.input-alt-text:hover, .input-alt-text:focus {
	border: inherit !important;
}
.fa-icon-action {position: absolute;top: -75%;right: 0;border: 2px solid $white;border-radius: 50%;cursor: pointer;}
.fa-icon-action:hover.del{color: $brand-danger;}

/* Structure style */
tr .tralias {display: none;}
tr:hover .tralias {display: block;}

.table-hover>tbody>tr:hover .text-muted {color: $brand-primary !important;}

/* Copyright link*/
.copyright > a {color: $brand-light;}
.copyright > a:hover {color: $brand-moment;}

/* Effect */
/* Shadows */
.shadow 	{@include shadows(0 0 6px $middle-grey)}
.inshadow 	{@include shadows(0 0 2px $middle-grey inset)}

/* Blur */
.blur {
	@include blur();
}
.blured {
	@include blur(1px);
}
.blured:hover {
	@include blur(0);
}

/* Text Shadow */
.text-shadow 	{text-shadow: 1px 1px 1px $brand-dark;}