@charset "utf-8";
body {
	background: #fefeff; font-family: 'Open Sans','Ubuntu','Trebuchet MS','Tahoma' !important;
	padding: 0px;margin: 0px;
	behavior: url("../../csshover.htc") !important;}
img {behavior: url("../../iepngfix.htc") !important;}

h1, h2, h3, h4, h5, h6 {font-family: 'PT Sans' !important;}
ul.nav {font-family: 'PT Sans', 'Open Sans' !important;}
.pagination {font-family: 'Neucha' !important;}

small, button, .btn, .label, .badge {font-family: 'PT Sans' !important;}
.small, small {line-height: 12px;color: #999; font-size: 11px;}

.ptsans {font-family: 'PT Sans';}
.ubuntu {font-family: 'Ubuntu';}

p {text-align: justify;}


/* WebKit Scrollbar */
.scroll::-webkit-scrollbar { width: 12px; }
.scroll::-webkit-scrollbar-thumb { border-radius: 8px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); background: #F88C00; }
.scroll::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); border-radius: 5px;  background: rgba(0, 0, 0, 0.075);}

/* Transition */
*:hover, .table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
	transition: all 0.20s ease-in-out;-webkit-transition: all 0.20s ease-in-out;-moz-transition: all 0.20s ease-in-out;outline:none;-ms-transition:  all 0.20s ease-in-out;-o-transition:  all 0.20s ease-in-out;}
#colorbox, #cboxOverlay, #cboxWrapper, #cboxContent, #cboxLoadedContent {transition: none !important;-webkit-transition: none !important;-moz-transition: none !important;outline:none;}

input:focus:invalid {
	/* transition: all 0.15s ease-in-out;-webkit-transition: all 0.15s ease-in-out;-moz-transition: all 0.15s ease-in-out;outline:none; */
	-moz-box-shadow: 0px 0px 6px #fe402b;
	-webkit-box-shadow: 0px 0px 6px #fe402b;
	box-shadow: 0px 0px 6px #fe402b;
	border: 1px solid #fe402b;
}

/* Fonts */
@font-face { font-family: 'Ubuntu'; font-style: normal; font-weight: 400; src: local('Ubuntu'), url('Ubuntu.woff') format('woff'); }
@font-face { font-family: 'PT Sans'; font-style: normal; font-weight: 400; src: local('PT Sans'), local('PTSans-Regular'), url('PT_Sans.woff') format('woff'); }
@font-face { font-family: 'PT Sans'; font-style: normal; font-weight: 700; src: local('PT Sans Bold'), local('PTSans-Bold'), url('PT_Sans_Bold.woff') format('woff');}
@font-face { font-family: 'PT Sans'; font-style: italic; font-weight: 400; src: local('PT Sans Italic'), local('PTSans-Italic'), url('PT_Sans_Italic.woff') format('woff');}
@font-face { font-family: 'PT Sans'; font-style: italic; font-weight: 700; src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url('PT_Sans_Bold_Italic.woff') format('woff');}
@font-face { font-family: 'Neucha'; font-style: normal; font-weight: 400; src: local('Neucha'), url('Neucha.woff') format('woff'); }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 700; src: local('Open Sans Bold'), local('OpenSans-Bold'), url('Open_Sans_Bold.woff') format('woff'); }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 300; src: local('Open Sans Light'), local('OpenSans-Light'), url('Open_Sans_Light.woff') format('woff'); }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 600; src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('Open_Sans_Semibold.woff') format('woff'); }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 400; src: local('Open Sans'), local('OpenSans'), url('Open_Sans_Normal.woff') format('woff'); }

/**
 * Correct `block` display not defined in IE 8/9.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, mark, menu, nav, time, section, summary {display: block;}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio, canvas, video {display: inline-block;}

/**
 * Correct hidden elements
 */
[hidden] {display: none;}

