@charset "utf-8";
body {
  background: #fff;
  font-family: 'Open Sans', 'Ubuntu', 'Trebuchet MS', 'Tahoma' !important;
  color: #333 !important;
  padding: 0;
  margin: 0;
  behavior: url("../csshover.htc") !important;
  text-rendering: optimizeLegibility;
}
img {
  behavior: url("../iepngfix.htc") !important;
}
/* Head & Foot */
.header,
.footer {
  background: #f7f7f7;
}
.header {
  padding-bottom: 5px;
  min-height: 35px;
}
.footer {
  border-top: 2px solid #d9d9d9;
  padding-top: 15px;
  margin-top: 15px;
}
/* Style fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', 'PT Sans' !important;
}
ul.nav {
  font-family: 'PT Sans', 'Open Sans' !important;
}
.pagination {
  font-family: 'Neucha' !important;
}
small,
button,
.btn,
.label,
.badge {
  font-family: 'PT Sans' !important;
}
.small,
small {
  line-height: 12px;
  color: #999999;
  font-size: 12px;
}
/* Fonts */
.ptsans {
  font-family: 'PT Sans';
}
.ubuntu {
  font-family: 'Ubuntu';
}
/* Paragraph */
p {
  text-align: justify;
}
p.lead {
  font-family: "PT Sans" !important;
}
a[class=""],
a:not([class]) {
  font-weight: 600 !important;
}
/* Other BS fix styles */
.form-control.datepicker {
  padding: 6px 12px !important;
}
.bg-primary,
.bg-info,
.bg-success,
.bg-warning,
.bg-danger {
  padding: 15px;
}
/* Mark */
mark {
  padding: 0 !important;
  border-bottom: 1px dotted #C60D14;
}
/* Other Skin style */
#logo {
  margin: 10px 0;
}
.auth {
  margin-top: 10px;
}
.mb0 {
  margin-bottom: 0 !important;
}
/* Top Navigation */
.navigation {
  background: #ebebeb;
}
.navigation-level-0 {
  margin-left: -28px !important;
  margin-right: -28px !important;
}
.navigation-title {
  border-bottom: 2px solid #a4a4a4;
  margin-bottom: 3px;
}
.navigation-submenu {
  display: none;
  position: absolute;
  z-index: 999;
  margin-left: -2px !important;
}
.navigation-submenu .row {
  background: #d7d7d7;
  padding: 0 0 10px 0 !important;
  margin: 0 !important;
}
.navigation-submenu .row:first-child {
  border-top: 3px solid #c7c7c7;
  padding-top: 10px !important;
}
.navigation-submenu .row:last-child {
  border-bottom: 3px solid #c7c7c7;
}
@media (max-width: 600px) {
  .navigation-level-0 {
    margin-right: -15px !important;
  }
  .navigation-submenu {
    top: 30px !important;
  }
  .navigation-submenu .row {
    padding: 0 !important;
    margin: 0 !important;
  }
  .navigation-submenu .row:first-child {
    padding-top: 0 !important;
  }
  .navigation-submenu .row:last-child {
    padding-bottom: 0 !important;
  }
  .navigation-submenu .row div[class^="col-"] {
    padding-bottom: 5px !important;
  }
  .navigation-submenu .row div[class^="col-"]:first-child {
    padding-top: 5px !important;
  }
}
.topmenu {
  text-align: left !important;
  border-radius: 0 !important;
}
.topmenu-title {
  border-bottom: 2px solid #a4a4a4 !important;
  margin-bottom: 3px !important;
  font-weight: bold !important;
}
.topmenu:hover {
  background: #3D4F61 none !important;
  color: #fff !important;
  text-decoration: none !important;
}
/* Feed */
.feed-title {
  margin-top: 0 !important;
}
.feed-date {
  margin-bottom: 15px;
}
.feed-image-prev {
  float: right;
  margin: 0 0 15px 15px;
  max-height: 100%;
}
.feed-item-head {
  position: relative;
  padding: 10px 5px 10px 10px;
  margin: 5px 0 15px 0;
  background-color: rgba(0, 0, 0, 0.65);
}
.feed-item-head::after {
  content: "";
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.feed-item-head > h1,
.feed-item-head > small {
  color: #fff;
  text-shadow: -1px -1px 0 #000;
}
@media (min-width: 992px) {
  .feed-image-prev {
    max-width: 50% !important;
  }
}
.feed-image-pn {
  border: 2px solid rgba(61, 79, 97, 0.5);
  max-height: 48px;
  opacity: 0.9;
  filter: grayscale(75%);
}
a:hover > .feed-image-pn,
a:hover > .feed-more-preview {
  border: 2px solid #3D4F61;
  opacity: 1;
  filter: grayscale(0%);
}
.pull-left.feed-image-pn {
  margin-right: 10px;
}
.pull-right.feed-image-pn {
  margin-left: 10px;
}
.feed-more-preview {
  border: 2px solid rgba(61, 79, 97, 0.5);
  max-height: 100px;
  opacity: 0.8;
  filter: grayscale(50%);
}
/* UCP */
.mod_auth_form {
  width: 50% !important;
}
.mauth-avatar {
  margin-top: 4px;
  margin-right: 5px;
  border: 2px solid rgba(61, 79, 97, 0.5);
}
.mauth-avatar:hover {
  border: 2px solid #3D4F61;
}
.ucp-user-nickname {
  margin-top: 0;
}
.ucp-user-slogan {
  max-height: 42px;
  font-size: 13px;
  font-family: "PT Sans";
}
/* Breadcrumb */
.breadcrumb-line {
  border-top: 5px solid #f7f7f7;
  border-bottom: 5px solid #f7f7f7;
  min-height: 41px;
  background: #fff;
}
.btn-breadcrumb {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #d7d7d7;
  margin-top: 2px;
  background-color: #fff;
}
.btn-breadcrumb .btn {
  border: 0 solid transparent;
  border-right: 1px solid transparent !important;
  font-size: 11px;
}
.breadcrumb-default {
  background-color: #fff;
  border: 0 solid #d7d7d7;
}
.btn-breadcrumb .btn:last-child {
  font-weight: bold;
}
.btn-breadcrumb .btn:last-child:after {
  margin-left: -2px;
}
.btn-breadcrumb .btn:last-child:before {
  margin-left: -1px;
}
.btn-breadcrumb .btn-derecha {
  float: right;
  margin-right: 0;
  padding: 6px 10px 6px 10px !important;
  margin-left: 0 !important;
  border-radius: 0 !important;
}
.btn-breadcrumb .btn-derecha:first-child {
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
}
.btn-breadcrumb .btn-derecha:after,
.btn-breadcrumb .btn-derecha:before {
  content: none !important;
}
.btn-breadcrumb .btn:after,
.btn-breadcrumb .btn:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 14px solid transparent;
  position: absolute;
  top: 50%;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:after {
  border-left: 10px solid #fff;
  margin-top: -14px;
  margin-left: 0;
}
.btn-breadcrumb .btn:before {
  border-left: 10px solid #ababab;
  margin-top: -14px;
  margin-left: 1px;
}
/** The Spacing **/
.btn-breadcrumb .btn {
  padding: 6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding: 6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding: 6px 18px 6px 24px;
}
/** Default button **/
.btn-breadcrumb .btn.btn-default:after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:hover {
  background-color: #e1e1e1;
}
.btn-breadcrumb .btn.btn-default:hover:after {
  border-left: 10px solid #e1e1e1;
}
.btn-breadcrumb .btn.btn-default:hover:before,
.btn-breadcrumb .btn.btn-default:before {
  border-left: 10px solid #ababab;
}
.btn-breadcrumb .btn.btn-default:active,
.btn-breadcrumb .btn.btn-default.active,
.btn-breadcrumb .btn.btn-default:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  z-index: auto !important;
}
.btn-breadcrumb .btn.btn-default:active:after,
.btn-breadcrumb .btn.btn-default.active:after {
  border-left: 10px solid #e1e1e1;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.btn-breadcrumb .btn.btn-default:active:before,
.btn-breadcrumb .btn.btn-default.active:before {
  border-left: 10px solid #ababab;
}
.btn-breadcrumb .btn.btn-default:active:hover:after,
.btn-breadcrumb .btn.btn-default:focus:after {
  border-left: 10px solid #cfcfcf;
}
.btn-breadcrumb .btn.btn-default:active:hover:before,
.btn-breadcrumb .btn.btn-default:focus:before {
  border-left: 10px solid #858585;
}
.btn-breadcrumb .btn.btn-default.active {
  background-color: #e1e1e1;
}
.btn-breadcrumb .btn.btn-default.active:hover {
  background-color: #e1e1e1;
  cursor: default;
}
.btn-breadcrumb .btn.btn-default.active:hover:after {
  border-left: 10px solid #e1e1e1;
}
.btn-breadcrumb .btn.btn-default.active:hover:before {
  border-left: 10px solid #ababab;
}
.input-search {
  max-height: 27px;
}
/* Airmail */
.pm-message {
  margin-bottom: 0 !important;
}
.airmail {
  font-family: 'PT Sans';
  margin: 10px;
  min-height: 180px;
}
.airmail:after {
  position: absolute;
  content: '';
  top: 2px;
  right: 17px;
  bottom: 2px;
  left: 17px;
  border: 10px solid transparent;
  border-image: 10 repeating-linear-gradient(45deg, #b4d0ef, #b4d0ef 10px, transparent 10px, transparent 20px, #f3464d 20px, #f3464d 30px, transparent 30px, transparent 40px);
}
/* Tag Cloud */
.tag {
  text-transform: capitalize;
}
.tag_amount {
  display: inline-block;
  position: relative;
  padding: 1px 0 1px 8px;
  margin: 0 2px;
  border-left: 1px solid #a8a8a8;
}
.tag_amount:after,
.tag_amount:before {
  content: '';
  position: absolute;
  top: 33%;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
.tag_amount:before {
  left: 0;
  border-left: 4px solid #a8a8a8;
}
.tag_amount:after {
  left: -1px;
  border-left: 4px solid #fff;
}
a.tag:hover .tag_amount:after,
a.tag.active .tag_amount::after {
  left: -1px;
  border-left: 4px solid #e1e1e1;
}
a.tag.active:hover .tag_amount:after {
  left: -1px;
  border-left: 4px solid #cfcfcf;
}
/*  Input icon */
.inner-addon {
  position: relative;
}
.inner-addon .glyphicon,
.inner-addon .fa {
  position: absolute;
  padding: 8px;
  pointer-events: none;
}
.left-addon .glyphicon,
.left-addon .fa {
  left: 0;
}
.right-addon .glyphicon,
.right-addon .fa {
  right: 0;
}
.left-addon input {
  padding-left: 25px !important;
}
.right-addon input {
  padding-right: 25px !important;
}
/* Footer */
footer {
  padding-bottom: 20px;
}
/* Input Field required/invalid Glow */
input:focus:invalid {
  -moz-box-shadow: 0 0 0 2px rgba(198, 13, 20, 0.4) !important;
  -webkit-box-shadow: 0 0 0 2px rgba(198, 13, 20, 0.4) !important;
  box-shadow: 0 0 0 2px rgba(198, 13, 20, 0.4) !important;
  border: 1px solid #C60D14;
  background: #fff url(./img/required.png) no-repeat right top !important;
}
input:required:empty {
  background: #fff url(./img/required.png) no-repeat right top !important;
}
input.non-bgreq:required:empty {
  background-image: none !important;
}
input:required:valid {
  background-image: none !important;
}
/* notice */
@keyframes notice {
  from,
  to {
    margin-right: -400px;
    opacity: 0;
    z-index: -10;
  }
  15%,
  85% {
    margin-right: 60px;
  }
  30%,
  70% {
    margin-right: 15px;
    opacity: 1;
    z-index: 100;
  }
}
.notice {
  margin-top: 5px;
  position: fixed;
  z-index: -10;
  right: 5px;
  opacity: 0;
  animation-name: notice;
  animation-duration: 3.7s;
  animation-timing-function: ease-in-out;
}
.notice:hover {
  animation-play-state: paused;
}
/* Move TOP */
a#move_top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
/* Blur */
.blur {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}
.blured {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
.blured:hover {
  -webkit-filter: blur(0);
  -moz-filter: blur(0);
  -o-filter: blur(0);
  -ms-filter: blur(0);
  filter: blur(0);
}
/* Overflow */
.no-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* Outline */
a:focus,
.btn:focus {
  outline: none !important;
}
/* Transition */
*:not([class^="fancybox"]):hover,
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  outline: none;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
#colorbox,
*[id^="cbox"],
.btn-breadcrumb,
.btn-breadcrumb > * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  outline: none;
}
/* Font Awesome correct */
.fa-va {
  vertical-align: middle;
}
/* Fonts */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url('Ubuntu.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url('PT_Sans.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('PT_Sans_Bold.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url('PT_Sans_Italic.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url('PT_Sans_Bold_Italic.woff') format('woff');
}
@font-face {
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
  src: local('Neucha'), url('Neucha.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('Open_Sans_Bold.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('Open_Sans_Light.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('Open_Sans_Semibold.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('Open_Sans_Normal.woff') format('woff');
}
/* Correct `block` display not defined in IE 8/9. */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
mark,
menu,
nav,
time,
section,
summary {
  display: inline-block;
}
/* Correct `inline-block` display not defined in IE 8/9. */
audio,
canvas,
video {
  display: inline-block;
}
/* Correct hidden elements */
[hidden] {
  display: none;
}
