@charset "utf-8";
body {
	background: #fffffb; font-family: 'Open Sans','Trebuchet MS' !important;
	padding: 0px 0px 0px 0px;margin: 0px 0px 0px 0px;
	behavior: url("../../csshover.htc") !important;}
img {behavior: url("../../iepngfix.htc") !important;}

h1, h2, h3, h4, h5, h6 {font-family: 'PT Sans' !important;}
ul.nav {font-family: 'PT Sans', 'Open Sans' !important;}
.pagination {font-family: 'Neucha' !important;}

small, button, .btn, .label, .badge {font-family: 'PT Sans' !important;}
.small, small {line-height: 12px;color: #999; font-size: 11px;}

.ptsans {font-family: 'PT Sans';}
.ubuntu {font-family: 'Ubuntu';}

.left		{text-align:left;}
.center		{text-align:center;}
.right		{text-align:right;}
.justify	{text-align:justify;}

p {text-align: justify;}

*:hover, .table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
	transition: all 0.20s ease-in-out;-webkit-transition: all 0.20s ease-in-out;-moz-transition: all 0.20s ease-in-out;outline:none;-ms-transition:  all 0.20s ease-in-out;-o-transition:  all 0.20s ease-in-out;}
#colorbox, #cboxOverlay, #cboxWrapper, #cboxContent, #cboxLoadedContent {transition: none !important;-webkit-transition: none !important;-moz-transition: none !important;outline:none;}

/* Fonts */
@font-face { font-family: 'Ubuntu'; font-style: normal; font-weight: 400; src: local('Ubuntu'), url('Ubuntu.woff') format('woff'); }
@font-face { font-family: 'PT Sans'; font-style: normal; font-weight: 400; src: local('PT Sans'), local('PTSans-Regular'), url('PT_Sans.woff') format('woff'); }
@font-face { font-family: 'PT Sans'; font-style: normal; font-weight: 700; src: local('PT Sans Bold'), local('PTSans-Bold'), url('PT_Sans_Bold.woff') format('woff');}
@font-face { font-family: 'PT Sans'; font-style: italic; font-weight: 400; src: local('PT Sans Italic'), local('PTSans-Italic'), url('PT_Sans_Italic.woff') format('woff');}
@font-face { font-family: 'PT Sans'; font-style: italic; font-weight: 700; src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url('PT_Sans_Bold_Italic.woff') format('woff');}
@font-face { font-family: 'Neucha'; font-style: normal; font-weight: 400; src: local('Neucha'), url('Neucha.woff') format('woff'); }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 700; src: local('Open Sans Bold'), local('OpenSans-Bold'), url('Open_Sans_Bold.woff') format('woff'); }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 300; src: local('Open Sans Light'), local('OpenSans-Light'), url('Open_Sans_Light.woff') format('woff'); }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 600; src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('Open_Sans_Semibold.woff') format('woff'); }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 400; src: local('Open Sans'), local('OpenSans'), url('Open_Sans_Normal.woff') format('woff'); }

