@charset "utf-8";
body {	background: #fefeff;
	font-family: 'Open Sans','Ubuntu','Trebuchet MS','Tahoma' !important;
	padding: 0;margin: 0;
	behavior: url("../../csshover.htc") !important;
	text-rendering: optimizeLegibility;}
img {behavior: url("../../iepngfix.htc") !important;}

/* Style fonts */
h1, h2, h3, h4, h5, h6 {font-family: 'Ubuntu', 'PT Sans' !important;}
ul.nav {font-family: 'PT Sans', 'Open Sans' !important;}
.pagination {font-family: 'Neucha' !important;}

small, button, .btn, .label, .badge {font-family: 'PT Sans' !important;}
.small, small {line-height: 12px;color: #999; font-size: 12px;}

/* Fonts */
.ptsans {font-family: 'PT Sans';}
.ubuntu {font-family: 'Ubuntu';}

/* Paragraph */
p {text-align: justify;}
p.lead {font-family: "PT Sans" !important;}
a[class=""], a:not([class]) {font-weight: 600 !important;}

/* Padding for BG-* style bootstrap */
.bg-primary, .bg-success, .bg-info, .bg-warning, .bg-danger {padding: 15px;}

/* Other BS fix styles */
.form-control.datepicker {padding:6px 12px !important;}

/* Font Awesome correct */
.fa-va {vertical-align: middle;}

/* Other Skin style */
.tmenu {box-shadow: 0 0 4px #bbb  !important;padding: 5px !important;border-radius: 5px !important;background-color: #fff !important;}
.topmenu {background-color: transparent !important;text-shadow: none !important;box-shadow: none !important;border: 0 !important;}
.topmenu:hover{background: #62aeef none !important;}
.topsubmenu:hover {background: #545c68 none !important;	color: #fff !important;}
.topsubmenu:hover > .small {color: #545c68 !important;}

.breadcrumb {box-shadow: 0 0 4px #bbb  !important;}

a#move_top {
	position: fixed;
	right: 10px;
	bottom: 10px;
	display: none;
	opacity:0.9;
	filter: alpha(opacity=90);
}

.mod_auth_form {width: 50% !important;}
.mauth-avatar {margin-top: 4px;margin-right: 5px;border: 2px solid rgba(84, 92, 104, 0.5);}
.mauth-avatar:hover {border: 2px solid #545c68;}
.mb0 {margin-bottom: 0 !important;}

.feed-title {margin-top: 0 !important;}
.feed-date {margin-bottom: 15px;}
.feed-image-prev {float: right; margin: 0 0 15px 15px;}
@media (min-width: 992px) {
	.feed-image-prev {max-width: 50% !important;}
}
.feed-image-pn {border: 2px solid rgba(84, 92, 104, 0.5); max-height: 48px;opacity: 0.9;filter: grayscale(75%);}
a:hover>.feed-image-pn {border: 2px solid #545c68;opacity: 1;filter: grayscale(0%);}
.pull-left.feed-image-pn {margin-right: 10px;}
.pull-right.feed-image-pn {margin-left: 10px;}
.feed-more-preview {border: 2px solid rgba(84, 92, 104, 0.5); max-height: 100px;opacity: 0.8;filter: grayscale(50%);}
a:hover>.feed-more-preview {border: 2px solid #545c68;opacity: 1;filter: grayscale(0%);}

.ucp-user-nickname {margin-top: 0;}
.ucp-user-slogan {height: 46px;overflow: hidden;font-size: 13px;font-family: "PT Sans";}

.airmail {
	font-family: 'PT Sans';
	background-color: #fff;
	margin: 10px; padding: 5px;
	min-height: 200px;
}
.airmail:after {
	position: absolute;
	z-index: -999;
	content: '';
	top: 0;	right: 15px; bottom: 0;	left: 15px;
	background-image: repeating-linear-gradient(135deg, #F29B91 0px, #F09290 30px, transparent 30px, transparent 50px, #83B3DB 50px, #84ADCB 80px, transparent 80px, transparent 100px);
}

/* Tag Cloud */
.tag {text-transform: capitalize;}
.tag_amount {
	display: inline-block;
	position: relative;
	/*line-height: 14px;*/
	padding: 3px 0 3px 10px;
	margin: 0 6px;
	border-left: 1px solid #adadad;
}
.tag_amount::after, .tag_amount::before {
	content: '';
	position: absolute;
	top: 37%;
	border-top: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid transparent;
}
.tag_amount::before {left: 0;border-left: 4px solid #adadad;}
.tag_amount::after {left: -1px;	border-left: 4px solid #fff;}
a.tag:hover .tag_amount::after {left: -1px; border-left: 4px solid #e6e6e6;}

/*  Input icon */
.inner-addon {position: relative;}
.inner-addon .glyphicon, .inner-addon .fa {
	position: absolute;
	padding: 8px;
	pointer-events: none;
}

.left-addon .glyphicon, .left-addon .fa  { left:  0;}
.right-addon .glyphicon, .right-addon .fa { right: 0;}

.left-addon input  { padding-left:  25px !important; }
.right-addon input { padding-right: 25px !important; }

/* Blur */

.blur {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.blured {
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
}
.blured:hover {
	-webkit-filter: blur(0);
	-moz-filter: blur(0);
	-o-filter: blur(0);
	-ms-filter: blur(0);
	filter: blur(0);
}

/* Footer */
footer {padding-bottom: 20px;}

/* Transition */
*:hover, .table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
	transition: all 0.20s ease-in-out;-webkit-transition: all 0.20s ease-in-out;-moz-transition: all 0.20s ease-in-out;outline:none;-ms-transition:  all 0.20s ease-in-out;-o-transition:  all 0.20s ease-in-out;}
#colorbox, *[id^="cbox"] {transition: none !important;-webkit-transition: none !important;-moz-transition: none !important;outline:none;}

input:focus:invalid {
	/* transition: all 0.15s ease-in-out;-webkit-transition: all 0.15s ease-in-out;-moz-transition: all 0.15s ease-in-out;outline:none; */
	-moz-box-shadow: 0 0 6px #fe402b;
	-webkit-box-shadow: 0 0 6px #fe402b;
	box-shadow: 0 0 6px #fe402b;
	border: 1px solid #fe402b;
	background: #fff url(./img/required.png) no-repeat right top !important;
}
input:required:empty {background: #fff url(./img/required.png) no-repeat right top !important;}
input.non-bgreq:required:empty {background-image: none !important;}
input:required:valid {background-image: none !important;}

/* Fonts */
@font-face { font-family: 'Ubuntu'; font-style: normal; font-weight: 400; src: local('Ubuntu'), url('Ubuntu.woff') format('woff'); }
@font-face { font-family: 'PT Sans'; font-style: normal; font-weight: 400; src: local('PT Sans'), local('PTSans-Regular'), url('PT_Sans.woff') format('woff'); }
@font-face { font-family: 'PT Sans'; font-style: normal; font-weight: 700; src: local('PT Sans Bold'), local('PTSans-Bold'), url('PT_Sans_Bold.woff') format('woff');}
@font-face { font-family: 'PT Sans'; font-style: italic; font-weight: 400; src: local('PT Sans Italic'), local('PTSans-Italic'), url('PT_Sans_Italic.woff') format('woff');}
@font-face { font-family: 'PT Sans'; font-style: italic; font-weight: 700; src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url('PT_Sans_Bold_Italic.woff') format('woff');}
@font-face { font-family: 'Neucha'; font-style: normal; font-weight: 400; src: local('Neucha'), url('Neucha.woff') format('woff'); }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 700; src: local('Open Sans Bold'), local('OpenSans-Bold'), url('Open_Sans_Bold.woff') format('woff'); }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 300; src: local('Open Sans Light'), local('OpenSans-Light'), url('Open_Sans_Light.woff') format('woff'); }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 600; src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('Open_Sans_Semibold.woff') format('woff'); }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 400; src: local('Open Sans'), local('OpenSans'), url('Open_Sans_Normal.woff') format('woff'); }

/* Correct `block` display not defined in IE 8/9. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, mark, menu, nav, time, section, summary {display: block;}

/* Correct `inline-block` display not defined in IE 8/9. */
audio, canvas, video {display: inline-block;}

/* Correct hidden elements */
[hidden] {display: none;}

