@charset "UTF-8";
/*
 * RooCMS Default Style
 * http://www.roocms.com/
 * copyright © 2010-2020 alexandr Belov aka alex Roosso. All rights reserved.
 * license http://www.gnu.org/licenses/gpl-3.0.html
 */
html {
  font-size: 15px;
}

body {
  background: #f8f9f9;
  background-image: -webkit-linear-gradient(top, rgba(33, 37, 41, 0.05), rgba(33, 37, 41, 0)), url("../img/bg.png");
  font-family: "Open Sans", "Ubuntu", "Trebuchet MS", "Tahoma";
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
}

/* Style fonts */
h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", "PT Sans";
}

small, button, .btn, .label, .badge {
  font-family: "PT Sans";
}

.small, small {
  line-height: 0.7rem;
  color: #6c757d;
  font-size: 0.7rem;
}

/* Paragraph */
p {
  text-align: justify;
}

/* Link */
a {
  font-family: "PT Sans";
}

a[class=""], a:not([class]) {
  font-weight: 600;
}

/* Mark */
mark {
  padding: 0;
  border-bottom: 1px dotted #C60D14;
}

/* Text style */
.text-strong,
.text-bold {
  font-weight: bold;
}

.text-shadow {
  text-shadow: 1px 1px 1px #212529;
}

.text-overflow {
  white-space: nowrap;
}

.no-overflow, .text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.nobr {
  white-space: nowrap;
  word-wrap: normal;
  word-break: normal;
}

.breakword {
  word-wrap: break-word !important;
  word-break: break-all;
}

/* Shadows */
.shadow {
  -moz-box-shadow: 0 0 6px #212529;
  -webkit-box-shadow: 0 0 6px #212529;
  box-shadow: 0 0 6px #212529;
}

.inshadow {
  -moz-box-shadow: 0 0 2px #212529 inset;
  -webkit-box-shadow: 0 0 2px #212529 inset;
  box-shadow: 0 0 2px #212529 inset;
}

/* Blur */
.blur {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}

.blured {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

.blured:hover {
  -webkit-filter: blur(0);
  -moz-filter: blur(0);
  -o-filter: blur(0);
  -ms-filter: blur(0);
  filter: blur(0);
}

/* Top Navigation */
.roocms-topnav-link {
  font-family: "Open Sans";
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.roocms-topnav-sublink, .roocms-topnav-sublink-first {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  outline: none;
}
.roocms-topnav-sublink:hover, .roocms-topnav-sublink-first:hover {
  background: #e9ecef;
}

.roocms-topnav-sublink-first {
  font-weight: bold;
}

/* Breadcrumb */
.breadcrumb li:last-child a {
  pointer-events: none;
}

/* Move TOP */
a#move_top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

/* Notice */
@keyframes notice {
  from, to {
    margin-right: -400px;
    opacity: 0;
    z-index: -10;
  }
  15%, 85% {
    margin-right: 4rem;
  }
  30%, 70% {
    margin-right: 1rem;
    opacity: 1;
    z-index: 100;
  }
}
.notice {
  position: fixed;
  z-index: -10;
  right: 0;
  opacity: 0;
  animation-name: notice;
  animation-duration: 3.7s;
  animation-timing-function: ease-in-out;
}
.notice:hover {
  animation-play-state: paused;
}

/* Inputs invalid and error glowing */
input:focus:invalid {
  -moz-box-shadow: 0 0 0 0.2rem rgba(198, 13, 20, 0.4);
  -webkit-box-shadow: 0 0 0 0.2rem rgba(198, 13, 20, 0.4);
  box-shadow: 0 0 0 0.2rem rgba(198, 13, 20, 0.4);
  border: 1px solid #C60D14;
  background: #fff url(../img/required.png) no-repeat right top !important;
}

input:required:empty {
  background: #fff url(../img/required.png) no-repeat right top !important;
}

input.non-bgreq:required:empty,
input:required:valid {
  background-image: none !important;
}

/* Outline */
a:focus, a:active, .btn {
  outline: none !important;
}

/* Font Awesome correct */
a:hover [class=fa],
a:hover [class^=fas-],
a:hover [class^=far-] {
  text-decoration: none !important;
}

.fa-va {
  vertical-align: middle;
}

/*Correct `block` display not defined in IE 8/9. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, mark, menu, nav, time, section, summary {
  display: inline-block;
}

/* Correct `inline-block` display not defined in IE 8/9. */
audio, canvas, video {
  display: inline-block;
}

/* Correct hidden elements */
[hidden] {
  display: none;
}

/* Transition */
*:not([class^=fancybox]):hover,
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  outline: none;
}

/* Anti Drag*/
.btn-breadcrumb, .btn-breadcrumb > * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  outline: none;
}

/* Fonts */
.ptsans {
  font-family: "PT Sans";
}

.ubuntu {
  font-family: "Ubuntu";
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu"), url("../Ubuntu.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url("../PT_Sans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("../PT_Sans_Bold.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: local("PT Sans Italic"), local("PTSans-Italic"), url("../PT_Sans_Italic.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: local("PT Sans Bold Italic"), local("PTSans-BoldItalic"), url("../PT_Sans_Bold_Italic.woff") format("woff");
}
@font-face {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  src: local("Neucha"), url("../Neucha.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../Open_Sans_Bold.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../Open_Sans_Light.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("../Open_Sans_Semibold.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("../Open_Sans_Normal.woff") format("woff");
}

/*# sourceMappingURL=style.css.map */
