<?xml version="1.0" encoding="utf-8"?>

<act name="config">
	<part>
		<uname>Global</uname>
		<title><![CDATA[Глобальные настройки]]></title>
		<description><![CDATA[В данном разделе можно управлять самыми основными настройками сайта. Все настройки из данного раздела применяют глобально по всему сайту и действуют для всех пользователей.]]></description>
		<tab>
			<uname>Global</uname>
			<title><![CDATA[Глобальные настройки]]></title>
			<description></description>
			<option>
				<uname>helpdesk_config_baseurl</uname>
				<title><![CDATA[Главный URL]]></title>
				<description><![CDATA[В данной опции нужно указать веб путь к корню вашего сайта. Данное указание позволит корректно выполняться стилям и внешним скриптам даже при использовании ЧПУ, а так же позволит использовать в верстке не относительные пути.
								<br />
								<br />Если ваш сайт расположен в корне домена, вы должны указать веб путь например так: http://www.roocms.com
								<br />В данном случае адрес должен быть указан без слеша в конце и с www
								<br />
								<br />Точно так же вы должны указать веб путь, если RooCMS используется на поддомене. Например: http://dev.roocms.com
								<br />
								<br />Если RooCMS находится в директории домена то веб путь должен быть указан следующим образом: http://www.roocms.com/cms/
								<br />Только в данном случае на конце нужно использовать слеш.]]></description>
			</option>
			<option>
				<uname>helpdesk_config_meta_description</uname>
				<title><![CDATA[Мета описание сайта]]></title>
				<description><![CDATA[Данная опция указывает описание для мета тега "Description"
								<br />
								<br />Данный тег используется при создании краткого описания страницы, используется поисковыми системами для индексации, а также при создании аннотации в выдаче по запросу. При отсутствии тега поисковые системы выдают в аннотации первую строку документа или отрывок, содержащий ключевые слова. Отображается после ссылки при поиске страниц в поисковике.
								<br />
								<br />
								<br />Значение данного тега так же дополняется автоматически ключевыми словами, исходя из анализа контента страницы. Например в разделе порфолио при просмотре проекта, к заданному здесь значению добиваться заголовок проекта. В разделе Страницы, есть специальное поле, данные из которого так же будут добавлены к заданному здесь значению.]]></description>
			</option>
			<option>
				<uname>helpdesk_config_meta_keywords</uname>
				<title><![CDATA[Мета ключевые слова]]></title>
				<description><![CDATA[Данная опция указывает ключевые слова для мета тега "Keywords"
								<br /><br />Данный мета-тег поисковые системы используют для того, чтобы определить релевантность ссылки. При формировании данного тега необходимо использовать только те слова, которые содержатся в самом документе. Использование тех слов, которых нет на странице, не рекомендуется. Рекомендованное количество слов в данном теге — не более десяти. Кроме того, выявлено, что разбивка этого тега на несколько строк влияет на оценку ссылки поисковыми машинами.
								<br /><br />Значение данного тега так же дополняется автоматически ключевыми словами, исходя из анализа контента страницы. Например в разделе порфолио при просмотре проекта, к заданному здесь значению добавятся метки (теги) указанные для проекта. В разделе Страницы, есть специальное поле, данные из которого так же будут добавлены к заданному здесь значению.]]></description>
			</option>
			<option>
				<uname>helpdesk_config_if_modified_since</uname>
				<title><![CDATA[Ответ на запрос IF MODIFIED SINCE]]></title>
				<description><![CDATA[HTTP заголовок Last-Modified сообщает клиенту время последнего изменения страницы (объекта). Если клиент (браузер, поисковый робот) получил заголовок Last-Modified, то при следующем обращении к адресу, при условии, что страница (объект) есть в локальном кеше, он добавит вопрос If-Modified-Since (не изменилась ли страница после даты, полученной в Last-Modified). В свою очередь сервер, получив запрос If-Modified-Since должен сверить полученную временную метку с временем последнего изменения страницы и, если страница не изменялась ответить 304 Not Modified.
								<br /><br />Данная опция применяется только для поисковых роботов. Это позволяет быстрее индексировать новые и измененные страницы.]]></description>
			</option>
			<option>
				<uname>helpdesk_config_fuckie</uname>
				<title><![CDATA[Убей ослика]]></title>
				<description><![CDATA["Осликом" на сленге интернетчиков называют браузер Internet Explorer из-за его абревиатуры IE.
								<br /><br />Данная опция для пользователей самого глючного и противного браузера IE включает выскакивающую панель, которая рекомендует пользователям скачать более качественные браузеры (Firefox, Opera, Safari) и даже предлагает ссылки где их найти.
								<br /><br />При включенной опция панель будет появляться только для тех кто зашел на сайт через Internet Explorer версии 8 и ниже. На 9 версию Internet Explorer действия данной опции не распространяются. Потому что 9 версия IE показывает сайты как надо. Но в остальном это все тот же IE.]]></description>
			</option>
		</tab>
	</part>
	<part>
		<uname>GD</uname>
		<title><![CDATA[Настройка изображений]]></title>
		<description><![CDATA[В данном разделе можно управлять настройками расширения GD PHP, которое позволяет обрабатывать изображения.]]></description>
		<tab>
			<uname>GD</uname>
			<title><![CDATA[Настройка изображений]]></title>
			<description></description>
			<option>
				<uname>helpdesk_config_gd_resize_image</uname>
				<title><![CDATA[Создание миниатюр]]></title>
				<description><![CDATA[Данная опция включает режим создания миниатюр для загружаемых изображений. Параметры для создаваемых миниатюр указываются ниже.
								<br /><br />Миниатюры создаются при публикации больших изображений и содержат в себе его уменьшенную копию или часть ее, для предпросмотра (например в Галерее). Данный механизм экономит пользователям вашего сайта время на загрузку страниц и просмотр изображений.
								<br /><br />Алгоритм созданию миниатюр следующий: При загрузке изображения определяются его размере. От большей стороны изображения равномерно отнимаются по бокам равные части, в сумме составляющие разницу в различиях сторон. Таким образом создавая равномерный квадрат. Далее он уменьшается до заданных ниже ширины и высоты. Оригинальное изображение остается нетронутым.
								<br /><br />В данной версии миниаютры могут создаваться только квадратные. В будущих версиях это будет исправлено.]]></description>
			</option>
			<option>
				<uname>helpdesk_config_gd_thumb_image_width</uname>
				<title><![CDATA[Ширина миниатюр]]></title>
				<description><![CDATA[Данная опция задает значение ширины миниатюрного изображения.
								<br /><br />Опция указывается в пикселях.]]></description>
			</option>
			<option>
				<uname>helpdesk_config_gd_thumb_image_height</uname>
				<title><![CDATA[Высота миниатюр]]></title>
				<description><![CDATA[Данная опция задает значение высоты миниатюрного изображения.
								<br /><br />Опция указывается в пикселях.]]></description>
			</option>
			<option>
				<uname>helpdesk_config_gd_use_watermark</uname>
				<title><![CDATA[Нанесение водяного знака]]></title>
				<description><![CDATA[Водяно́й знак (также филигра́нь) — видимое изображение или рисунок на бумаге, который выглядит светлее при просмотре на просвет (или темнее при просмотре в отражённом свете на тёмном фоне).
								<br /><br />Чаще всего водяной знак используется для защиты авторских прав. В отношении изображений часто данный прием применяется фотографами. Но водяной знак не является указанием обладания авторских прав на изображения.
								<br /><br />Нанесение водяного знака может способствовать популяризации ресурса через поисковые ресурсы.
								<br /><br />Опция указывается наносить ли водяной знак на загружаемые изображения.
								<br /><br />Водяной знак наносится только на увеличенное изображение. Миниатюры не помечаются водянным знаком.
								<br /><br />Пока что в RooCMS только один механизм нанесения водяных знаков - это надпись белого цвета с черным бордюром в две строки (которые указываются ниже) расположенные в левом нижнем углу изображения. 
								<br /><br />В следующих версиях данная опция получит больше настроек.]]></description>
			</option>
			<option>
				<uname>helpdesk_config_gd_watermark_string_one</uname>
				<title><![CDATA[Первая строка водяного знака]]></title>
				<description><![CDATA[Первая строка водяного знака который будет нанесен на изображение.
								<br /><br />По умолчанию будет испоьзовано значение html тега title]]></description>
			</option>
			<option>
				<uname>helpdesk_config_gd_watermark_string_two</uname>
				<title><![CDATA[Вторая строка водяного знака]]></title>
				<description><![CDATA[Вторая строка водяного знака который будет нанесен на изображение.
								<br /><br />По умолчанию будет испоьзовано значение Главного url]]></description>
			</option>
		</tab>
	</part>
	<part>
		<uname>RSS</uname>
		<title><![CDATA[RSS]]></title>
		<description><![CDATA[Really Simple Syndication - очень простой сбор сводной информации.<br /><br />В данном разделе можно управлять настройками RSS экспорта.]]></description>
		<tab>
			<uname>RSS</uname>
			<title><![CDATA[RSS]]></title>
			<description></description>
			<option>
				<uname>helpdesk_config_rss_ttl</uname>
				<title><![CDATA[TTL]]></title>
				<description><![CDATA[Time To Live - Время жизни RSS ленты.
								<br /><br />Значение указывается в секундах и не может быть меньше 60.]]></description>
			</option>
		</tab>
	</part>
	<part>
		<uname>ACP</uname>
		<title><![CDATA[Панель администратора]]></title>
		<description><![CDATA[В данном разделе можно управлять настройками панели администратора.]]></description>
		<tab>
			<uname>ACP</uname>
			<title><![CDATA[Настройки панели администратора]]></title>
			<description></description>
			<option>
				<uname>helpdesk_config_acp_helpdesk_on</uname>
				<title><![CDATA[Помошь и подсказки]]></title>
				<description><![CDATA[Данная опция включит помошь и подсказки для всех опций и настроек панели администратора. Если какие либо опции сайта вызывают у вас затруднения или вы не знаете, что случиться от тех или иных ваших действий, включите данную опцию.
								<br /><br />Опытным пользователям можно отключить данную опцию при желании.]]></description>
			</option>
		</tab>
	</part>
	<part>
		<uname>News</uname>
		<title><![CDATA[Новости]]></title>
		<description><![CDATA[В данном разделе можно управлять глобальными настройками новостей.]]></description>
		<tab>
			<uname>News</uname>
			<title><![CDATA[Настройки новостей]]></title>
			<description></description>
			<option>
				<uname>helpdesk_config_news_newsonpage</uname>
				<title><![CDATA[Количество новостей на страницу]]></title>
				<description><![CDATA[Данная опция задает глобальное значение количества новостей отображаемых на одной странице.]]></description>
			</option>
			<option>
				<uname>helpdesk_config_news_indention</uname>
				<title><![CDATA[Отступ]]></title>
				<description><![CDATA[Данная опция задает количества пикселей отступа для дочерних категорий. Значение указывается целым числом.
								<br /><br />Далее в стандартных шаблонах это значение используется как отступ в пикселях для вложенных категорий. Например для родительских категорий отступ 0. Для категорий первого уровня отступ равен заданному значению. Для второго уровня категорий отступ равен заданному значению умноженному на 2 и т.д. и т.п.
								<br /><br />Но вы можете использовать данное значение и для других целей. Например в программном условии выполняемом перед шаблоном. Или указав здесь значение 1 у вас будет возможность отслеживать уровень вложенности и через function.switch() задать параметры отображения для различных уровней.]]></description>
			</option>
			<option>
				<uname>helpdesk_config_news_rss_on</uname>
				<title><![CDATA[RSS Экспорт]]></title>
				<description><![CDATA[Данная опция включает глобально использование RSS экспорта новостей. 
								<br /><br />Если данная опция выключена, то настройки RSS заданные в моде для отдельных категорий будут проигнорированы.]]></description>
			</option>
		</tab>
	</part>
	<part>
		<uname>Portfolio</uname>
		<title><![CDATA[Портфолио]]></title>
		<description><![CDATA[В данном разделе можно управлять глобальными настройками персонального портфолио.]]></description>
		<tab>
			<uname>Portfolio</uname>
			<title><![CDATA[Настройки портфолио]]></title>
			<description></description>
			<option>
				<uname>helpdesk_config_portfolio_title</uname>
				<title><![CDATA[Заголовок персонального портфолио]]></title>
				<description><![CDATA[Данная опция задает заголовок для персонального портфолио и используется в теге title.]]></description>
			</option>
			<option>
				<uname>helpdesk_config_portfolio_birthdate</uname>
				<title><![CDATA[Дата рождения]]></title>
				<description><![CDATA[В данной опции можно указать дату рождения (для персонального портфолио) или дату основания (для корпоративного портфолио).
								<br /><br />Дату нужно указывать в формет мм/дд/гггг. 
								<br />Где мм - номер месяца в формате 01-12
								<br />Где дд - число месяца в формате 01-31
								<br />Где гггг - год в формет 1971-2012]]></description>
			</option>
			<option>
				<uname>helpdesk_config_portfolio_about</uname>
				<title><![CDATA[О Себе]]></title>
				<description><![CDATA[Описание личных заслуг, достижений, принципов работы или деловая анотация к портфолио. 
								<br /><br />Введеная информация выводится на главной странице портфолио.]]></description>
			</option>
			<option>
				<uname>helpdesk_config_portfolio_motto</uname>
				<title><![CDATA[Девиз]]></title>
				<description><![CDATA[В данной опции указывается личный девиз или слоган компании.]]></description>
			</option>
			<option>
				<uname>helpdesk_config_portfolio_phone</uname>
				<title><![CDATA[Телефон]]></title>
				<description><![CDATA[В данной опции указывается номер телефона для связи, по которому можно осуществить заказ.]]></description>
			</option>
			<option>
				<uname>helpdesk_config_portfolio_email</uname>
				<title><![CDATA[E-mail]]></title>
				<description><![CDATA[В данной опции указывается контактный адрес электронной почты для связи. Любую иную информацию кроме адреса электронной почты поле проигнорирует.]]></description>
			</option>
			<option>
				<uname>helpdesk_config_portfolio_icq</uname>
				<title><![CDATA[ICQ]]></title>
				<description><![CDATA[В данной опции указывается номер ICQ для связи. Любую иную информацию кроме цифр поле проигнорирует.]]></description>
			</option>
			<option>
				<uname>helpdesk_config_portfolio_country</uname>
				<title><![CDATA[Страна]]></title>
				<description><![CDATA[В данной опции указывается страна нахождения студии или лица чье портфолио представлено. В поле можно указать и иную информацию.]]></description>
			</option>
			<option>
				<uname>helpdesk_config_portfolio_city</uname>
				<title><![CDATA[Город]]></title>
				<description><![CDATA[В данной опции указывается город нахождения студии или лица чье портфолио представлено. В поле можно указать и иную информацию.]]></description>
			</option>
			<option>
				<uname>helpdesk_config_portfolio_metadescription</uname>
				<title><![CDATA[Мета описание раздела]]></title>
				<description><![CDATA[Данная опция указывает описание для мета тега "Description".
								<br /><br />Данный тег используется при создании краткого описания страницы, используется поисковыми системами для индексации, а также при создании аннотации в выдаче по запросу. При отсутствии тега поисковые системы выдают в аннотации первую строку документа или отрывок, содержащий ключевые слова. Отображается после ссылки при поиске страниц в поисковике.
								<br /><br />Заданное здесь значение будет добавлено к заданному значение "Мета описание" в глобальных настройках сайта.]]></description>
			</option>
			<option>
				<uname>helpdesk_config_portfolio_metakeywords</uname>
				<title><![CDATA[Мета ключевые слова раздела]]></title>
				<description><![CDATA[Данная опция указывает ключевые слова для мета тега "Keywords".
								<br /><br />Данный мета-тег поисковые системы используют для того, чтобы определить релевантность ссылки. При формировании данного тега необходимо использовать только те слова, которые содержатся в самом документе. Использование тех слов, которых нет на странице, не рекомендуется. Рекомендованное количество слов в данном теге — не более десяти. Кроме того, выявлено, что разбивка этого тега на несколько строк влияет на оценку ссылки поисковыми машинами.
								<br /><br />Заданное здесь значение будет добавлено к заданному значение "Мета ключевые слова" в глобальных настройках сайта.]]></description>
			</option>
			<option>
				<uname>helpdesk_config_portfolio_indention</uname>
				<title><![CDATA[Отступ]]></title>
				<description><![CDATA[Данная опция задает количества пикселей отступа для дочерних категорий. Значение указывается целым числом.
								<br /><br />Далее в стандартных шаблонах это значение используется как отступ в пикселях для вложенных категорий. Например для родительских категорий отступ 0. Для категорий первого уровня отступ равен заданному значению. Для второго уровня категорий отступ равен заданному значению умноженному на 2 и т.д. и т.п.
								<br /><br />Но вы можете использовать данное значение и для других целей. Например в программном условии выполняемом перед шаблоном. Или указав здесь значение 1 у вас будет возможность отслеживать уровень вложенности и через function.switch() задать параметры отображения для различных уровней.]]></description>
			</option>
			<option>
				<uname>helpdesk_config_portfolio_workonpage</uname>
				<title><![CDATA[Количество проектов на страницу]]></title>
				<description><![CDATA[Данная опция задает глобальное значение количества проектов отображаемых на одной странице.]]></description>
			</option>
		</tab>
	</part>
	<part>
		<uname>Gallery</uname>
		<title><![CDATA[Галерея]]></title>
		<description><![CDATA[В данном разделе можно управлять глобальными настройками галереи.]]></description>
		<tab>
			<uname>Gallery</uname>
			<title><![CDATA[Настройки галереи]]></title>
			<description></description>
			<option>
				<uname>helpdesk_config_gallery_imageonpage</uname>
				<title><![CDATA[Количество изображений на странице]]></title>
				<description><![CDATA[Данная опция задает глобальное значение количества изображений отображаемых на одной странице.]]></description>
			</option>
			<option>
				<uname>helpdesk_config_gallery_indention</uname>
				<title><![CDATA[Отступ]]></title>
				<description><![CDATA[Данная опция задает количества пикселей отступа для дочерних категорий. Значение указывается целым числом.
								<br /><br />Далее в стандартных шаблонах это значение используется как отступ в пикселях для вложенных категорий. Например для родительских категорий отступ 0. Для категорий первого уровня отступ равен заданному значению. Для второго уровня категорий отступ равен заданному значению умноженному на 2 и т.д. и т.п.
								<br /><br />Но вы можете использовать данное значение и для других целей. Например в программном условии выполняемом перед шаблоном. Или указав здесь значение 1 у вас будет возможность отслеживать уровень вложенности и через function.switch() задать параметры отображения для различных уровней.]]></description>
			</option>
		</tab>
	</part>
</act>

<!--
/*=========================================================
|	Title: Help Desk for ACP RooCMS
|	Author:	alex Roosso
|	Copyright: 2010-2011 (c) RooCMS. 
|	Web: http://www.roocms.com
|	All rights reserved.
|----------------------------------------------------------
|	This program is free software; you can redistribute it and/or modify
|	it under the terms of the GNU General Public License as published by
|	the Free Software Foundation; either version 2 of the License, or
|	(at your option) any later version.
|	
|	Данное программное обеспечение является свободным и распространяется
|	по лицензии Фонда Свободного ПО - GNU General Public License версия 2.
|	При любом использовании данного ПО вы должны соблюдать все условия
|	лицензии.
|----------------------------------------------------------
|	Build: 				4:51 08.11.2011
|	Last Build: 		4:51 08.11.2011
|	Version file:		1.00 build 1
=========================================================*/
 -->