@charset "utf-8";
@media (min-width: 1575px) {
  .container {
    min-width: 1575px;
  }
  .modal-login {
    margin-top: 15% !important;
  }
}
@media (min-width: 1895px) {
  .container {
    min-width: 1895px;
  }
}
/*@media (min-width: 1200px) {}
@media (min-width: 992px) {}
@media (min-width: 768px) {}
@media (max-width: 767px) {}*/
::-moz-selection,
::selection {
  color: #fff;
  background: #3D4F61;
}
/* СТИЛЬ ПАНЕЛИ АДМИНИСТРАТОРА */
html,
body {
  font-family: 'PT Sans', 'Ubuntu', 'Calibri', 'Trebuchet MS', 'Tahoma', 'Verdana' !important;
  color: #1B1E24;
  font-size: 12px;
  background: #ede1cb url('./img/bgcp.jpg') repeat fixed top !important;
  padding: 0;
  margin: 0;
  behavior: url("../csshover.htc") !important;
  text-rendering: optimizeLegibility;
}
body {
  margin: 60px 0 !important;
}
img {
  behavior: url("../iepngfix.htc") !important;
}
/* LINK STYLE */
a {
  font-family: 'PT Sans', 'Ubuntu', 'Calibri', 'Tahoma', 'Trebuchet MS' !important;
}
/* Transition */
*:not([class^="fancybox"]),
*:not([class^="fancybox"]):hover,
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  outline: none;
}
/* OTHER STYLE */
input:focus:invalid {
  /* transition: all 0.15s ease-in-out;-webkit-transition: all 0.15s ease-in-out;-moz-transition: all 0.15s ease-in-out;outline:none; */
  -moz-box-shadow: 0 0 6px #C60D14;
  -webkit-box-shadow: 0 0 6px #C60D14;
  box-shadow: 0 0 6px #C60D14;
  border: 1px solid #C60D14;
  background: #fff url(./img/required.png) no-repeat right top !important;
}
input:required:empty {
  background: #fff url(./img/required.png) no-repeat right top !important;
}
input.non-bgreq:required:empty,
input:required:valid {
  background-image: none !important;
}
/* logo */
#logo {
  margin-top: -11px;
}
.logo-xs {
  max-width: 100%;
  padding: 10px 0;
}
/* fix navbar collapse on sx screen*/
.navbar-collapse {
  max-height: none !important;
}
/* Submenu */
.submenu-xs {
  margin-bottom: 20px;
}
/* notice */
@keyframes notice {
  from,
  to {
    margin-right: -400px;
    opacity: 0;
    z-index: -10;
  }
  15%,
  85% {
    margin-right: 60px;
  }
  30%,
  70% {
    margin-right: 15px;
    opacity: 1;
    z-index: 100;
  }
}
.notice {
  margin-top: 5px;
  position: fixed;
  z-index: -10;
  right: 5px;
  opacity: 0;
  animation-name: notice;
  animation-duration: 3.7s;
  animation-timing-function: ease-in-out;
}
.notice:hover {
  animation-play-state: paused;
}
/* footer */
.footer {
  line-height: 13px !important;
  padding: 10px 0;
}
/* sup styles / restyle */
.small,
small {
  line-height: 12px;
  color: #999;
  font-size: 11px;
}
blockquote {
  font-size: 14px !important;
  font-family: 'PT Sans' !important;
}
code {
  font-family: 'Ubuntu' !important;
}
/* Hover */
.hover-without-underline:hover {
  text-decoration: none !important;
}
.hover-cursor {
  cursor: pointer;
}
/* Outline */
a:focus,
.btn:focus {
  outline: none !important;
}
/* visible style */
.visible-inline {
  display: inline-block !important;
}
/* install */
.progress.pb0 {
  margin-bottom: 0 !important;
}
/* BS TagsInput */
.bootstrap-tagsinput {
  width: 100%;
}
/* fix font-awesome underline */
a:hover [class^="fa-"] {
  text-decoration: none !important;
}
/* style for attached files */
.attached-images > .thumbnail {
  margin-bottom: 5px !important;
}
.attach-img {
  border: 0;
  width: 160px;
  border-radius: 3px;
}
.input-alt-text {
  padding: 1px !important;
  height: 22px !important;
  margin-top: 3px !important;
  border: 1px solid #fff !important;
}
.input-alt-text:hover,
.input-alt-text:focus {
  border: inherit !important;
}
.op_attached_images {
  margin-right: -3px;
  margin-top: 5px;
}
p.attach_files {
  padding: 8px 8px;
}
/* Avatar */
.avatar {
  max-width: 60px;
  border: 2px solid #3D4F61;
  margin: 2px;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.avatar.ban {
  border-color: #C60D14;
}
.avatar:hover {
  border-color: #3581D5;
  opacity: 1;
  filter: alpha(opacity=100);
}
.avatar-xs {
  margin-right: 15px;
}
.avatar-xs > img {
  max-height: 48px;
}
/* style for delete user avatar */
.delete_useravatar:hover,
.delete_config_image:hover {
  background-color: #C60D14;
  border-radius: 5px;
}
.delete_useravatar:hover > img,
.delete_config_image:hover > img {
  opacity: 0.5;
}
/* style for datepicker*/
.form-date {
  width: 50% !important;
}
.form-control.datepicker {
  padding: 6px 12px !important;
}
/* Structure style */
.trinfo {
  float: right;
}
tr .tralias {
  display: none;
  float: right;
}
tr:hover .tralias {
  display: block;
}
.table-hover > tbody > tr:hover .structure-highlight {
  color: #3D4F61;
}
/* ckeditor styles */
.cked {
  overflow-x: hidden;
}
/* Add BS */
blockquote.quote-primary {
  border-left-color: #3D4F61;
  background-color: #fbfbfb;
}
blockquote.quote-info {
  border-left-color: #3581D5;
  background-color: #fbfbfb;
}
blockquote.quote-success {
  border-left-color: #72B110;
  background-color: #fbfbfb;
}
blockquote.quote-warning {
  border-left-color: #FB8C00;
  background-color: #fbfbfb;
}
blockquote.quote-danger {
  border-left-color: #C60D14;
  background-color: #fbfbfb;
}
blockquote.quote h1,
blockquote.quote h2,
blockquote.quote h3,
blockquote.quote h4,
blockquote.quote h5,
blockquote.quote h6 {
  margin: 0 0 10px 0;
  padding: 0;
}
blockquote.quote small {
  color: #999;
}
blockquote.quote-primary > h1,
blockquote.quote-primary > h2,
blockquote.quote-primary > h3,
blockquote.quote-primary > h4,
blockquote.quote-primary > h5,
blockquote.quote-primary > h6 {
  color: #3D4F61;
}
blockquote.quote-info > h1,
blockquote.quote-info > h2,
blockquote.quote-info > h3,
blockquote.quote-info > h4,
blockquote.quote-info > h5,
blockquote.quote-info > h6 {
  color: #3581D5;
}
blockquote.quote-success > h1,
blockquote.quote-success > h2,
blockquote.quote-success > h3,
blockquote.quote-success > h4,
blockquote.quote-success > h5,
blockquote.quote-success > h6 {
  color: #72B110;
}
blockquote.quote-warning > h1,
blockquote.quote-warning > h2,
blockquote.quote-warning > h3,
blockquote.quote-warning > h4,
blockquote.quote-warning > h5,
blockquote.quote-warning > h6 {
  color: #FB8C00;
}
blockquote.quote-danger > h1,
blockquote.quote-danger > h2,
blockquote.quote-danger > h3,
blockquote.quote-danger > h4,
blockquote.quote-danger > h5,
blockquote.quote-danger > h6 {
  color: #C60D14;
}
/*Fonts*/
.tahoma {
  font-family: 'Tahoma';
}
.verdana {
  font-family: 'Verdana';
}
.trebuchet {
  font-family: 'Trebuchet MS';
}
.consolas {
  font-family: 'Consolas';
}
.ubuntu {
  font-family: 'Ubuntu';
}
.ptsans {
  font-family: 'PT Sans';
}
.opensans {
  font-family: 'Open Sans';
}
/*input[type="text"], textarea {-moz-box-shadow: 0px 0px 2px #B8AD9A inset; -webkit-box-shadow: 0px 0px 2px #B8AD9A inset; box-shadow: 0px 0px 2px #B8AD9A inset;}*/
/* Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: normal !important;
  font-family: 'Ubuntu', 'PT Sans' !important;
}
h1 {
  font-size: 17px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 15px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 13px;
}
h6 {
  font-size: 12px;
}
/* Font sizes */
.t10 {
  font-size: 10px;
}
.t11 {
  font-size: 11px;
}
.t12 {
  font-size: 12px;
}
.t13 {
  font-size: 13px;
}
.t14 {
  font-size: 14px;
}
.t15 {
  font-size: 15px;
}
.t16 {
  font-size: 16px;
}
.t17 {
  font-size: 17px;
}
.black {
  color: #1B1E24;
}
.white {
  color: #fff;
}
/* Shadows */
.tshadow {
  text-shadow: 1px 1px 1px #1B1E24;
}
.shadow {
  -moz-box-shadow: 0 0 6px #777;
  -webkit-box-shadow: 0 0 6px #777;
  box-shadow: 0 0 6px #777;
}
.inshadow {
  -moz-box-shadow: 0 0 2px #777 inset;
  -webkit-box-shadow: 0 0 2px #777 inset;
  box-shadow: 0 0 2px #777 inset;
}
/* SPECIFICATION */
.clear,
.both {
  clear: both;
}
.text-strong,
.text-bold {
  font-weight: bold;
}
.text-italic {
  font-style: italic;
}
.text-strike {
  text-decoration: line-through;
}
.none {
  display: none;
}
.invis {
  position: absolute;
  left: -9999px;
}
.vtop {
  vertical-align: top;
}
.vbottom {
  vertical-align: bottom;
}
.vmiddle {
  vertical-align: middle;
}
.no-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.nobr {
  white-space: nowrap;
  word-wrap: normal;
  word-break: normal;
}
.breakword {
  word-wrap: break-word !important;
  word-break: break-all;
}
/* For CodeMirror */
.CodeMirror {
  overflow: auto;
  font-family: 'Consolas';
  font-size: 14px;
  height: auto;
  margin: 5px 0;
  border: 1px solid #ccc;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.075) inset;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.075) inset;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.075) inset;
  border-radius: 4px;
}
span.CodeMirror-matchhighlight {
  background: #ccc;
}
.CodeMirror-gutter {
  background: rgba(0, 0, 0, 0.075) !important;
  color: #999 !important;
}
.CodeMirror-focused span.CodeMirror-matchhighlight {
  background: #ccc !important;
}
.shy,
.wbr {
  word-break: break-all;
}
/* anti drag */
*[class^="CodeMirror"] > *,
*[class^="CodeMirror"],
body,
body.modal-open,
.ckeditor,
*[class^="cke_"],
*[class^="cke_"] > *,
.cke,
.collapse,
.collapse > * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  outline: none;
}
[data-cke-saved-href] {
  font-weight: 600 !important;
}
/* Fonts */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url('fonts/Ubuntu-Light.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url('fonts/Ubuntu.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url('fonts/Ubuntu-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url('fonts/Ubuntu-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'), url('fonts/Ubuntu-LightItalic.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url('fonts/Ubuntu-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  src: local('Ubuntu Medium Italic'), local('Ubuntu-MediumItalic'), url('fonts/Ubuntu-MediumItalic.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), url('fonts/Ubuntu-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url('fonts/PTSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('fonts/PTSans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url('fonts/PTSans-Italic.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url('fonts/PTSans-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Caption'), local('PTSans-Caption'), url('fonts/PTSans-Caption.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Caption Bold'), local('PTSans-CaptionBold'), url('fonts/PTSans-CaptionBold.woff') format('woff');
}
@font-face {
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
  src: local('Neucha'), url('fonts/Neucha.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('fonts/OpenSans-Light.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('fonts/OpenSans.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('fonts/OpenSans-Semibold.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('fonts/OpenSans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('fonts/OpenSans-Extrabold.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url('fonts/OpenSansLight-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('fonts/OpenSans-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url('fonts/OpenSans-SemiboldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('fonts/OpenSans-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url('fonts/OpenSans-ExtraboldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Blogger Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Blogger Sans Light'), local('BloggerSans-Light'), url('fonts/BloggerSans-Light.woff') format('woff');
}
@font-face {
  font-family: 'Blogger Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Blogger Sans'), local('BloggerSans'), url('fonts/BloggerSans.woff') format('woff');
}
@font-face {
  font-family: 'Blogger Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Blogger Sans Medium'), local('BloggerSans-Medium'), url('fonts/BloggerSans-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Blogger Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Blogger Sans Bold'), local('BloggerSans-Bold'), url('fonts/BloggerSans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Blogger Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Blogger Sans Light Italic'), local('BloggerSans-LightItalic'), url('fonts/BloggerSans-LightItalic.woff') format('woff');
}
@font-face {
  font-family: 'Blogger Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Blogger Sans Italic'), local('BloggerSans-Italic'), url('fonts/BloggerSans-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Blogger Sans';
  font-style: italic;
  font-weight: 500;
  src: local('Blogger Sans Medium Italic'), local('BloggerSans-MediumItalic'), url('fonts/BloggerSans-MediumItalic.woff') format('woff');
}
@font-face {
  font-family: 'Blogger Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Blogger Sans Bold Italic'), local('BloggerSans-BoldItalic'), url('fonts/BloggerSans-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Kelson Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Kelson Sans Bold'), local('kelson_sans_bold_ru'), url('fonts/kelson_sans_bold_ru.woff') format('woff');
}
@font-face {
  font-family: 'Kelson Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Kelson Sans Light'), local('kelson_sans_light_ru'), url('fonts/kelson_sans_light_ru.woff') format('woff');
}
@font-face {
  font-family: 'Kelson Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Kelson Sans Regular'), local('kelson_sans_regular_ru'), url('fonts/kelson_sans_regular_ru.woff') format('woff');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Fira Sans Light'), local('FiraSans-Light'), url('fonts/FiraSans-Light-CyrExt.woff2') format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Fira Sans Light'), local('FiraSans-Light'), url('fonts/FiraSans-Light-Cyr.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Fira Sans Light'), local('FiraSans-Light'), url('fonts/FiraSans-Light-Ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Fira Sans Light'), local('FiraSans-Light'), url('fonts/FiraSans-Light.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans'), local('FiraSans-Regular'), url('fonts/FiraSans-Regular-CyrExt.woff2') format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans'), local('FiraSans-Regular'), url('fonts/FiraSans-Regular-Cyr.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans'), local('FiraSans-Regular'), url('fonts/FiraSans-Regular-Ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans'), local('FiraSans-Regular'), url('fonts/FiraSans-Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Fira Sans Medium'), local('FiraSans-Medium'), url('fonts/FiraSans-Medium-CyrExt.woff2') format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Fira Sans Medium'), local('FiraSans-Medium'), url('fonts/FiraSans-Medium-Cyr.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Fira Sans Medium'), local('FiraSans-Medium'), url('fonts/FiraSans-Medium-Ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Fira Sans Medium'), local('FiraSans-Medium'), url('fonts/FiraSans-Medium.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url('fonts/FiraSans-Bold-CyrExt.woff2') format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url('fonts/FiraSans-Bold-Cyr.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url('fonts/FiraSans-Bold-Ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url('fonts/FiraSans-Bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Fira Sans Light Italic'), local('FiraSans-LightItalic'), url('fonts/FiraSans-Light-Italic-CyrExt.woff2') format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Fira Sans Light Italic'), local('FiraSans-LightItalic'), url('fonts/FiraSans-Light-Italic-Cyr.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Fira Sans Light Italic'), local('FiraSans-LightItalic'), url('fonts/FiraSans-Light-Italic-Ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Fira Sans Light Italic'), local('FiraSans-LightItalic'), url('fonts/FiraSans-Light-Italic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Fira Sans Italic'), local('FiraSans-Italic'), url('fonts/FiraSans-Italic-CyrExt.woff2') format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Fira Sans Italic'), local('FiraSans-Italic'), url('fonts/FiraSans-Italic-Cyr.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Fira Sans Italic'), local('FiraSans-Italic'), url('fonts/FiraSans-Italic-Ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Fira Sans Italic'), local('FiraSans-Italic'), url('fonts/FiraSans-Italic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 500;
  src: local('Fira Sans Medium Italic'), local('FiraSans-MediumItalic'), url('fonts/FiraSans-Medium-Italic-CyrExt.woff2') format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 500;
  src: local('Fira Sans Medium Italic'), local('FiraSans-MediumItalic'), url('fonts/FiraSans-Medium-Italic-Cyr.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 500;
  src: local('Fira Sans Medium Italic'), local('FiraSans-MediumItalic'), url('fonts/FiraSans-Medium-Italic-Ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 500;
  src: local('Fira Sans Medium Italic'), local('FiraSans-MediumItalic'), url('fonts/FiraSans-Medium-Italic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Fira Sans Bold Italic'), local('FiraSans-BoldItalic'), url('fonts/FiraSans-Bold-Italic-CyrExt.woff2') format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Fira Sans Bold Italic'), local('FiraSans-BoldItalic'), url('fonts/FiraSans-Bold-Italic-Cyr.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Fira Sans Bold Italic'), local('FiraSans-BoldItalic'), url('fonts/FiraSans-Bold-Italic-Ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Fira Sans Bold Italic'), local('FiraSans-BoldItalic'), url('fonts/FiraSans-Bold-Italic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
mark,
menu,
nav,
time,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}
/**
 * Correct hidden elements
 */
[hidden] {
  display: none;
}
