/* Стиль панели администратора */
@charset "utf-8";
body {font-family: Tahoma;font-size: 12px;color: #373737;
	background: #fffffb url(./img/bgcp.jpg) repeat fixed top;
	padding: 0px 0px 0px 0px;margin: 60px 0px 65px 0px;
	behavior: url("../../csshover.htc") !important;}
img {behavior: url("../../iepngfix.htc") !important;}

.option {padding: 5px 3px 5px 3px; background-color: #fff; font-family: Ubuntu;}
tr.option td {border-top: 1px solid #fffffb;border-bottom: 1px dashed #f7f2e5;}
tr.option:last-of-type td {border-bottom: 1px solid #fffffb;}
.option:hover {background-color: #F7F2E5;}
.option .option_title	{font-weight: bold;font-size: 12px;font-family: Ubuntu;}

/* Link style */
a, a:link, a:visited 		{font-family: Ubuntu; color: #f38833; text-decoration: underline; border: 0px;outline: none;}
a:focus, a:hover, a:active {color: #DA7A2E;}

a.link, a.link:link, a.link:visited	{font-family: Ubuntu, 'Trebuchet MS'; font-size: 12px; color: #f38833; text-decoration: underline; vertical-align: middle; padding: 0px 3px 0px 3px;}
a.link:focus, a.link:hover, a.link:active	{color: #DA7A2E;}

a.linku, a.linku:link, a.linku:visited	{font-family: Ubuntu, 'Trebuchet MS'; font-size: 12px; color: #f38833; border-bottom: 1px dashed #f38833;text-decoration: none; vertical-align: middle; padding: 0px 3px 0px 3px;}
a.linku:focus, a.linku:hover, a.linku:active	{color: #DA7A2E;border-bottom: 1px dashed #DA7A2E;}

a.opt, a.opt:link, a.opt:visited {font-family: Ubuntu, 'Tahoma'; font-size: 12px; color: #F38833; text-decoration: underline; vertical-align: middle; padding: 0px 5px 0px 0px;}
a.opt:focus, a.opt:hover, a.opt:active {color: #DA7A2E; text-decoration: none; }

a.optat, a.optat:link, a.optat:visited {font-family: Ubuntu, 'Tahoma'; font-size: 12px; color: #F66; text-decoration: underline; vertical-align: top; padding: 0px 5px 0px 5px;}
a.optat:focus, a.optat:hover, a.optat:active {color: #F00; text-decoration: none; }


/* Form style */
*:focus { outline:none; }
/*input {outline: none;}*/
input[readonly] {color: #d5cab7;border: 1px solid #ede1cc;}
input[disabled] {color: #aaa;}
input[type="radio"], label {vertical-align: middle;}
.f_input, .f_inputs, .f_input_s, .f_input_ms, .f_input_m, .f_textarea, .inp_s, .ckeditor {
	font-family: 'Consolas';font-size: 13px;color: #373737;
	border: 1px solid #B8AD9A;	padding: 4px;margin: 3px;
	-moz-box-shadow: 0px 0px 2px #B8AD9A inset; -webkit-box-shadow: 0px 0px 2px #B8AD9A inset; box-shadow: 0px 0px 2px #B8AD9A inset;}

.f_input 			{width: 98%;background-color: #ffffff; }
.f_inputs  			{width: 98%;background-color: #ffffff; vertical-align: middle;background: transparent url('./img/sel.png') no-repeat right;}
.f_inputs:focus	{width: 98%;background-color: #ffffff; vertical-align: middle;background: transparent url('./img/sel_h.png') no-repeat right;}

.bselect {top: 0px; right: 3px;height: 19px; vertical-align: middle;}

.f_input_s 		{width: 75px;font-size: 12px;}
.f_input_ms 	{width: 20px;font-size: 10px;}
.f_input_m 		{width: 222px;}
.f_textarea, .ckeditor {width: 98%;height: 120px;overflow: auto;vertical-align: top;}
	
.f_submit {font-family: Verdana;font-size: 11px !important;color: #373737;
	background: #EDE1CC url('./img/bg_c.png') repeat-x top;
	padding: 3px 5px 4px 5px !important; margin: 3px;
	border: 1px solid #F7F2E5;
	cursor: pointer;}

.f_submit:hover, .f_submit:focus {background-color: #F8AF48;}
select optgroup {font-weight: bold;font-style: normal;background-color: #F7F2E5;}

.ta_resize 	{text-decoration: underline;cursor: pointer;background-color: #d5cab7;}

/* attachment images*/
.aimage {display: inline-block;position: relative;list-style: none;float: left;}
.delphoto {position: absolute;right: 2px; top: 2px;font-family: Verdana;font-weight: bold; padding: 2px;background-color: #fff;cursor: pointer;-moz-border-radius: 4px 4px 4px 4px;webkit-border-radius: 4px 4px 4px 4px; border-radius: 4px 4px 4px 4px;display: none;}
.delphoto:hover {color: red; font-family: Verdana;font-weight: bold; padding: 2px;background-color: #fff;}
.unit_image, .unit_image_options {
	border: 1px solid #ede1cc;
	padding: 5px; margin: 1px;
	background-color: #fff;
	vertical-align: top;
	-moz-border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px 4px 4px 4px; border-radius: 4px 4px 4px 4px;}
.unit_image, .unit_image_options {display: inline-block;}
/*.aimage:hover .unit_image_options {display: inline-block;}*/

/* font */
.arial {font-family: Arial, Helvetica, sans-serif;}
.tahoma {font-family: Tahoma;}
.verdana {font-family: Verdana;}
.calibri {font-family: Calibri;}
.trebuchet {font-family: 'Trebuchet MS';}

/* Titles */
h1, h2, h3, h4, h5, h6 {padding: 0px; margin: 0px;font-weight: normal;}
h1 {font-size: 17px;}
h2 {font-size: 16px;}
h3 {font-size: 15px;}
h4 {font-size: 14px;}
h5 {font-size: 13px;}
h6 {font-size: 12px;}

/* size */
.t10 {font-size: 10px;}
.t11 {font-size: 11px;}
.t12 {font-size: 12px;}
.t13 {font-size: 13px;}
.t14 {font-size: 14px;}
.t15 {font-size: 15px;}
.t16 {font-size: 16px;}
.t17 {font-size: 17px;}
.t18 {font-size: 18px;}
.t19 {font-size: 19px;}
.t20 {font-size: 20px;}
.t21 {font-size: 21px;}
.t22 {font-size: 22px;}
.t23 {font-size: 23px;}
.t24 {font-size: 24px;}
.t25 {font-size: 25px;}
.t26 {font-size: 26px;}
.t27 {font-size: 27px;}
.t30 {font-size: 33px;}
.t33 {font-size: 33px;}
.t35 {font-size: 35px;}

/* color */
.blue 		{color: #48b;}
.red 		{color: #f00;}
.green		{color: #090;}
.black, b	{color: #373737;}
.white 		{color: #fff;}
.dorange 	{color: #da7a2e;}
.dgrey		{color: #666;}
.grey		{color: #aaa;}
.lgrey 		{color: #CDCDCD;}
.yellow  	{color: #ff0;}
.lyellow 	{color: #ffc;}
.dyellow 	{color: #FFD12B;}

/* effects */
.shadow 	{-moz-box-shadow: 0px 0px 6px #B8AD9A;-webkit-box-shadow: 0px 0px 6px #B8AD9A;box-shadow: 0px 0px 6px #B8AD9A;}
.inshadow 	{-moz-box-shadow: 0px 0px 2px #B8AD9A inset;	-webkit-box-shadow: 0px 0px 2px #B8AD9A inset;	box-shadow: 0px 0px 2px #B8AD9A inset;}

/* specification */
.clear, .both	{ clear:both; }
.strong, .bold	{ font-weight:bold; }
.italic	{font-style:italic; }
.strike {text-decoration:line-through; }

.none	{display:none;}
.invis	{position:absolute; left:-9999px; }

.lower	{text-transform:lowercase; }
.upper	{text-transform:uppercase; }

.left	{text-align:left; }
.center	{text-align:center; }
.right	{text-align:right; }
.justify	{text-align:justify; }

.vtop 	{vertical-align: top;}
.vbottom {vertical-align: bottom;}
.vmiddle {vertical-align: middle;}

.fleft	{float:left; }
.fright	{float:right; }

.overflowh {overflow: hidden;}

.relative {position: relative;}
.absolute {position: absolute;}

/* techstyle */
.text {font-family: 'Trebuchet MS';	font-size: 14px; color: #373737;}
li, ul, ol, .checkbox, .label, .img, .iconlink {vertical-align: middle;}
table, td, tr 	{font-family: 'Tahoma';font-size: 11px;color: #373737;}
.rem			{font-family: 'Tahoma';font-size: 10px;color: #DA7A2E;}
p {margin: 0px;padding: 0px;vertical-align: middle;}
.iconlink	{margin-right: 5px;}
.title_text {font-size: 17px;}
.date 		{font-family: Tahoma;font-size: 11px;}

.error {color: red;border: 1px dashed red;padding: 5px;background-color: #fee;font-family: Tahoma;}


/* jQ */
#tabs ul, #error, #info {display: none;}
	
/* For CodeMirror */
.CodeMirror {width: 99%;overflow: auto;vertical-align: top;font-family: 'Consolas';font-size: 13px;border: 1px solid #B8AD9A;	margin: 3px; height: auto;
	-moz-box-shadow: 0px 0px 2px #B8AD9A inset;	-webkit-box-shadow: 0px 0px 2px #B8AD9A inset;	box-shadow: 0px 0px 2px #B8AD9A inset;}
span.CodeMirror-matchhighlight { background: #e9e9e9 }
.CodeMirror-focused span.CodeMirror-matchhighlight { background: #e7e4ff !important; }
.CodeMirror-fullscreen {
  display: block;
  position: absolute; top: 0; left: 0; z-index: 9999;
  width: 100%;
}	

/* Fonts */
@font-face { font-family: 'Ubuntu'; font-style: normal; font-weight: 400; src: local('Ubuntu'), url('../../inc/font/Ubuntu.woff') format('woff'); }

/* HTML 5 */
article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video	{ display:block; }