@charset "utf-8";
@media (min-width: 1575px) {
  .container {
    min-width: 1575px;
  }
}
@media (min-width: 1895px) {
  .container {
    min-width: 1895px;
  }
}
/*@media (min-width: 1200px) {}
@media (min-width: 992px) {}
@media (min-width: 768px) {}
@media (max-width: 767px) {}*/
/* СТИЛЬ ПАНЕЛИ АДМИНИСТРАТОРА */
body {
  font-family: 'PT Sans', 'Ubuntu', 'Calibri', 'Trebuchet MS', 'Tahoma', 'Verdana' !important;
  color: #1b1e24;
  font-size: 12px;
  background: #ede1cb url('img/bgcp.png') repeat fixed top !important;
  padding: 0px;
  margin: 60px 0px !important;
  behavior: url("../../csshover.htc") !important;
}
img {
  behavior: url("../../iepngfix.htc") !important;
}
/* LINK STYLE */
a {
  font-family: 'PT Sans', 'Ubuntu', 'Calibri', 'Tahoma', 'Trebuchet MS' !important;
}
/* Transition */
*,
*:hover,
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  outline: none;
}
/* OTHER STYLE */
input:focus:invalid {
  /* transition: all 0.15s ease-in-out;-webkit-transition: all 0.15s ease-in-out;-moz-transition: all 0.15s ease-in-out;outline:none; */
  -moz-box-shadow: 0px 0px 6px #fe402b;
  -webkit-box-shadow: 0px 0px 6px #fe402b;
  box-shadow: 0px 0px 6px #fe402b;
  border: 1px solid #fe402b;
}
.footer {
  line-height: 13px !important;
  padding: 10px 0px;
}
.alert {
  margin-top: -10px;
}
.paragraph {
  margin-left: 20px;
}
.small,
small {
  line-height: 12px;
  color: #999999;
  font-size: 11px;
}
.middle {
  line-height: 14px;
  font-size: 12px;
}
blockquote {
  font-size: 14px !important;
  font-family: 'PT Sans' !important;
}
code {
  font-family: 'Ubuntu' !important;
}
.form-control.datepicker {
  padding: 6px 12px !important;
}
.visible-inline {
  display: inline-block !important;
}
.navbar-collapse {
  max-height: none !important;
}
a:hover [class^="fa-"] {
  text-decoration: none !important;
}
.display-block {
  display: block !important;
}
.display-none {
  display: none !important;
}
.notification-info {
  position: fixed;
  z-index: 100;
  right: 0px;
  left: 0px;
}
.hover-without-underline:hover {
  text-decoration: none !important;
}
.hover_cursor {
  cursor: pointer;
}
.progress.pb0 {
  margin-bottom: 0px !important;
}
/* ckeditor styles */
.cked {
  overflow-x: hidden;
}
/* style for attached files */
.field_attach {
  padding: 10px 0px;
}
.delete_image {
  margin-right: -3px;
  margin-top: 5px;
}
p.attach_files {
  padding: 8px 8px;
}
/* style fro delete user avatar */
.delete_useravatar:hover,
.delete_config_image:hover {
  background-color: #fe402b;
  border-radius: 5px;
}
.delete_useravatar:hover > img,
.delete_config_image:hover > img {
  opacity: 0.5;
}
/* style for datepicker*/
.form-date {
  width: 50% !important;
}
/* alias visual style */
tr .trinfo {
  display: none;
  float: right;
}
tr:hover .trinfo {
  display: block;
}
/* Add BS */
blockquote.quote-primary {
  border-left-color: #6f7a9a;
  background-color: #fbfbfb;
}
blockquote.quote-info {
  border-left-color: #409eef;
  background-color: #fbfbfb;
}
blockquote.quote-success {
  border-left-color: #72b110;
  background-color: #fbfbfb;
}
blockquote.quote-warning {
  border-left-color: #fb8c00;
  background-color: #fbfbfb;
}
blockquote.quote-danger {
  border-left-color: #fe402b;
  background-color: #fbfbfb;
}
blockquote.quote h1,
blockquote.quote h2,
blockquote.quote h3,
blockquote.quote h4,
blockquote.quote h5,
blockquote.quote h6 {
  margin: 0px 0px 10px 0px;
  padding: 0px;
}
blockquote.quote small {
  color: #888;
}
blockquote.quote-primary > h1,
blockquote.quote-primary > h2,
blockquote.quote-primary > h3,
blockquote.quote-primary > h4,
blockquote.quote-primary > h5,
blockquote.quote-primary > h6 {
  color: #6f7a9a;
}
blockquote.quote-info > h1,
blockquote.quote-info > h2,
blockquote.quote-info > h3,
blockquote.quote-info > h4,
blockquote.quote-info > h5,
blockquote.quote-info > h6 {
  color: #409eef;
}
blockquote.quote-success > h1,
blockquote.quote-success > h2,
blockquote.quote-success > h3,
blockquote.quote-success > h4,
blockquote.quote-success > h5,
blockquote.quote-success > h6 {
  color: #72b110;
}
blockquote.quote-warning > h1,
blockquote.quote-warning > h2,
blockquote.quote-warning > h3,
blockquote.quote-warning > h4,
blockquote.quote-warning > h5,
blockquote.quote-warning > h6 {
  color: #fb8c00;
}
blockquote.quote-danger > h1,
blockquote.quote-danger > h2,
blockquote.quote-danger > h3,
blockquote.quote-danger > h4,
blockquote.quote-danger > h5,
blockquote.quote-danger > h6 {
  color: #fe402b;
}
/* Fonts */
.arial {
  font-family: 'Arial', 'Helvetica', 'sans-serif';
}
.tahoma {
  font-family: 'Tahoma';
}
.verdana {
  font-family: 'Verdana';
}
.calibri {
  font-family: 'Calibri';
}
.trebuchet {
  font-family: 'Trebuchet MS';
}
.consolas {
  font-family: 'Consolas';
}
.ubuntu {
  font-family: 'Ubuntu';
}
.ptsans {
  font-family: 'PT Sans';
}
.opensans {
  font-family: 'Open Sans';
}
.bloggersans {
  font-family: 'Blogger Sans';
}
.kelsonsans {
  font-family: 'Kelson Sans';
}
/*input[type="text"], textarea {-moz-box-shadow: 0px 0px 2px #B8AD9A inset; -webkit-box-shadow: 0px 0px 2px #B8AD9A inset; box-shadow: 0px 0px 2px #B8AD9A inset;}*/
/* Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0px;
  margin: 0px;
  font-weight: normal !important;
  font-family: 'Ubuntu', 'PT Sans' !important;
}
h1 {
  font-size: 17px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 15px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 13px;
}
h6 {
  font-size: 12px;
}
/* Font sizes */
.t10 {
  font-size: 10px;
}
.t11 {
  font-size: 11px;
}
.t12 {
  font-size: 12px;
}
.t13 {
  font-size: 13px;
}
.t14 {
  font-size: 14px;
}
.t15 {
  font-size: 15px;
}
.t16 {
  font-size: 16px;
}
.t17 {
  font-size: 17px;
}
/* Color */
.blue {
  color: #4499ee;
}
.black {
  color: #1b1e24;
}
.white {
  color: #ffffff;
}
.mgrey {
  color: #999999;
}
/* Shadows */
.tshadow {
  text-shadow: 1px 1px 1px #1b1e24;
}
.shadow {
  -moz-box-shadow: 0px 0px 6px #b8ad9a;
  -webkit-box-shadow: 0px 0px 6px #b8ad9a;
  box-shadow: 0px 0px 6px #b8ad9a;
}
.inshadow {
  -moz-box-shadow: 0px 0px 2px #b8ad9a inset;
  -webkit-box-shadow: 0px 0px 2px #b8ad9a inset;
  box-shadow: 0px 0px 2px #b8ad9a inset;
}
/* SPECIFICATION */
.clear,
.both {
  clear: both;
}
.strong,
.bold,
.text-strong,
.text-bold {
  font-weight: bold;
}
.italic,
.text-italic {
  font-style: italic;
}
.strike,
.text-strike {
  text-decoration: line-through;
}
.none {
  display: none;
}
.invis {
  position: absolute;
  left: -9999px;
}
.lower {
  text-transform: lowercase;
}
.upper {
  text-transform: uppercase;
}
.vtop {
  vertical-align: top;
}
.vbottom {
  vertical-align: bottom;
}
.vmiddle {
  vertical-align: middle;
}
.overflowh,
.no-overflow {
  overflow: hidden;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.z99 {
  z-index: 99;
}
/* For CodeMirror */
.CodeMirror {
  overflow: auto;
  font-family: 'Consolas';
  font-size: 14px;
  height: auto;
  margin: 5px 0px;
  border: 1px solid #cccccc;
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.075) inset;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.075) inset;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.075) inset;
  border-radius: 4px;
}
span.CodeMirror-matchhighlight {
  background: #cccccc;
}
.CodeMirror-gutter {
  background: rgba(0, 0, 0, 0.075) !important;
  color: #999999 !important;
}
.CodeMirror-focused span.CodeMirror-matchhighlight {
  background: #cccccc !important;
}
/* anti drag */
*[class^="CodeMirror"] > *,
*[class^="CodeMirror"],
body.modal-open,
body,
.ckeditor,
*[class^="cke_"],
*[class^="cke_"] > *,
.cke,
.lightbox,
*[class^="lb-"],
*[class^="lb-"] > *,
.collapse,
.collapse > * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  outline: none;
}
/* Fonts */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url('fonts/Ubuntu-Light.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url('fonts/Ubuntu.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url('fonts/Ubuntu-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url('fonts/Ubuntu-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'), url('fonts/Ubuntu-LightItalic.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url('fonts/Ubuntu-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  src: local('Ubuntu Medium Italic'), local('Ubuntu-MediumItalic'), url('fonts/Ubuntu-MediumItalic.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), url('fonts/Ubuntu-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url('fonts/PTSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('fonts/PTSans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url('fonts/PTSans-Italic.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url('fonts/PTSans-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Caption'), local('PTSans-Caption'), url('fonts/PTSans-Caption.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Caption Bold'), local('PTSans-CaptionBold'), url('fonts/PTSans-CaptionBold.woff') format('woff');
}
@font-face {
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
  src: local('Neucha'), url('fonts/Neucha.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('fonts/OpenSans-Light.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('fonts/OpenSans.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('fonts/OpenSans-Semibold.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('fonts/OpenSans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('fonts/OpenSans-Extrabold.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url('fonts/OpenSansLight-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('fonts/OpenSans-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url('fonts/OpenSans-SemiboldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('fonts/OpenSans-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url('fonts/OpenSans-ExtraboldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Blogger Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Blogger Sans Light'), local('BloggerSans-Light'), url('fonts/Blogger-Sans-Light.woff') format('woff');
}
@font-face {
  font-family: 'Blogger Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Blogger Sans'), local('BloggerSans'), url('fonts/Blogger-Sans.woff') format('woff');
}
@font-face {
  font-family: 'Blogger Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Blogger Sans Bold'), local('BloggerSans-Bold'), url('fonts/Blogger-Sans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Blogger Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Blogger Sans Medium'), local('BloggerSans-Medium'), url('fonts/Blogger-Sans-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Blogger Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Blogger Sans Light Italic'), local('BloggerSans-LightItalic'), url('fonts/Blogger-Sans-LightItalic.woff') format('woff');
}
@font-face {
  font-family: 'Blogger Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Blogger Sans Italic'), local('BloggerSans-Italic'), url('fonts/Blogger-Sans-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Blogger Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Blogger Sans Bold Italic'), local('BloggerSans-BoldItalic'), url('fonts/Blogger-Sans-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Blogger Sans';
  font-style: italic;
  font-weight: 500;
  src: local('Blogger Sans Medium Italic'), local('BloggerSans-MediumItalic'), url('fonts/Blogger-Sans-MediumItalic.woff') format('woff');
}
@font-face {
  font-family: 'Kelson Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Kelson Sans Bold'), local('kelson_sans_bold_ru'), url('fonts/kelson_sans_bold_ru.woff') format('woff');
}
@font-face {
  font-family: 'Kelson Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Kelson Sans Light'), local('kelson_sans_light_ru'), url('fonts/kelson_sans_light_ru.woff') format('woff');
}
@font-face {
  font-family: 'Kelson Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Kelson Sans Regular'), local('kelson_sans_regular_ru'), url('fonts/kelson_sans_regular_ru.woff') format('woff');
}
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
mark,
menu,
nav,
time,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}
/**
 * Correct hidden elements
 */
[hidden] {
  display: none;
}
