@charset "utf-8";
@media (min-width: 1575px) {
  .container {
    min-width: 1575px;
  }
}
@media (min-width: 1895px) {
  .container {
    min-width: 1895px;
  }
}
/* СТИЛЬ ПАНЕЛИ АДМИНИСТРАТОРА */
body {
  font-family: 'Calibri', 'Ubuntu', 'Trebuchet MS', 'Tahoma', 'Verdana' !important;
  color: #373737;
  font-size: 12px;
  background: #fffffb url('./img/bgcp.jpg') repeat fixed top;
  padding: 0px;
  margin: 60px 0px !important;
  behavior: url("../../csshover.htc") !important;
}
img {
  behavior: url("../../iepngfix.htc") !important;
}
/* LINK STYLE */
a {
  font-family: 'Ubuntu', 'Tahoma', 'Trebuchet MS';
}
a.text-danger:hover,
a.text-danger:focus {
  color: #861715;
}
/* EFFECT */
*:hover,
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  outline: none;
}
/* OTHER STYLE */
input:focus:invalid {
  /* transition: all 0.15s ease-in-out;-webkit-transition: all 0.15s ease-in-out;-moz-transition: all 0.15s ease-in-out;outline:none; */

  -moz-box-shadow: 0px 0px 6px #b94a48;
  -webkit-box-shadow: 0px 0px 6px #b94a48;
  box-shadow: 0px 0px 6px #b94a48;
  border: 1px solid #b94a48;
}
.footer {
  line-height: 13px !important;
  padding: 10px 0px;
}
.thumbnail {
  background-color: #ffffff;
}
.alert {
  margin-top: -10px;
}
.paragraph {
  margin-left: 20px;
}
.small,
small {
  line-height: 12px;
  color: #999999;
  font-size: 11px;
}
.middle {
  line-height: 14px;
  font-size: 12px;
}
.form-control.datepicker {
  padding: 6px 12px !important;
}
.visible-inline {
  display: inline-block !important;
}
.navbar-collapse {
  max-height: none !important;
}
a:hover [class^="icon-"] {
  text-decoration: none !important;
}
.icon-edit {
  vertical-align: middle !important;
}
.notification-info {
  position: fixed;
  z-index: 100;
  right: 0px;
  left: 0px;
}
.hover-without-underline:hover {
  text-decoration: none !important;
}
.delete_image {
  margin-right: -3px;
  margin-top: 5px;
}
.progress.pb0 {
  margin-bottom: 0px !important;
}
.cked {
  overflow-x: hidden;
}
.images_attach {
  padding: 10px 0px;
}
.form-date {
  width: 50% !important;
}
/* FONT */
.arial {
  font-family: 'Arial', 'Helvetica', 'sans-serif';
}
.tahoma {
  font-family: 'Tahoma';
}
.verdana {
  font-family: 'Verdana';
}
.calibri {
  font-family: 'Calibri';
}
.trebuchet {
  font-family: 'Trebuchet MS';
}
.consolas {
  font-family: 'Consolas';
}
.ubuntu {
  font-family: 'Ubuntu';
}
.ubuntuc {
  font-family: 'Ubuntu Condensed';
}
.ptsans {
  font-family: 'PT Sans';
}
.opensans {
  font-family: 'Open Sans';
}
/*input[type="text"], textarea {-moz-box-shadow: 0px 0px 2px #B8AD9A inset; -webkit-box-shadow: 0px 0px 2px #B8AD9A inset; box-shadow: 0px 0px 2px #B8AD9A inset;}*/
/* TITLES */
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0px;
  margin: 0px;
  font-weight: normal !important;
  font-family: 'PT Sans' !important;
}
h1 {
  font-size: 17px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 15px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 13px;
}
h6 {
  font-size: 12px;
}
/* SIZE */
.t10 {
  font-size: 10px;
}
.t11 {
  font-size: 11px;
}
.t12 {
  font-size: 12px;
}
.t13 {
  font-size: 13px;
}
.t14 {
  font-size: 14px;
}
.t15 {
  font-size: 15px;
}
.t16 {
  font-size: 16px;
}
.t17 {
  font-size: 17px;
}
/* COLOR */
.blue {
  color: #48b;
}
.black {
  color: #373737;
}
.white {
  color: #ffffff;
}
.mgrey {
  color: #999999;
}
/* EFFECTS */
.tshadow {
  text-shadow: 1px 1px 1px #373737;
}
.shadow {
  -moz-box-shadow: 0px 0px 6px #b8ad9a;
  -webkit-box-shadow: 0px 0px 6px #b8ad9a;
  box-shadow: 0px 0px 6px #b8ad9a;
}
.inshadow {
  -moz-box-shadow: 0px 0px 2px #b8ad9a inset;
  -webkit-box-shadow: 0px 0px 2px #b8ad9a inset;
  box-shadow: 0px 0px 2px #b8ad9a inset;
}
/* SPECIFICATION */
.clear,
.both {
  clear: both;
}
.strong,
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.strike {
  text-decoration: line-through;
}
.none {
  display: none;
}
.invis {
  position: absolute;
  left: -9999px;
}
.lower {
  text-transform: lowercase;
}
.upper {
  text-transform: uppercase;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.justify {
  text-align: justify;
}
.vtop {
  vertical-align: top;
}
.vbottom {
  vertical-align: bottom;
}
.vmiddle {
  vertical-align: middle;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.overflowh {
  overflow: hidden;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.z99 {
  z-index: 99;
}
/* FOR CODEMIRROR */
.CodeMirror {
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  overflow: auto;
  font-family: 'Consolas';
  font-size: 14px;
  height: auto;
  margin: 5px 0px 5px 0px;
  border: 1px solid #ccc;
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.075) inset;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.075) inset;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.075) inset;
  border-radius: 4px;
}
span.CodeMirror-matchhighlight {
  background: #ccc;
}
.CodeMirror-gutter {
  background: rgba(0, 0, 0, 0.075) !important;
  color: #999999 !important;
}
.CodeMirror-focused span.CodeMirror-matchhighlight {
  background: #ccc !important;
}
/* АНТИ ДРЫГ */
*[class^="CodeMirror"]:hover > * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  outline: none;
}
/* FONTS */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url('Ubuntu-Light.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url('Ubuntu.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url('Ubuntu-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url('Ubuntu-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'), url('Ubuntu-LightItalic.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url('Ubuntu-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  src: local('Ubuntu Medium Italic'), local('Ubuntu-MediumItalic'), url('Ubuntu-MediumItalic.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), url('Ubuntu-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url('PTSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('PTSans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url('PTSans-Italic.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url('PTSans-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Caption'), local('PTSans-Caption'), url('PTSans-Caption.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Caption Bold'), local('PTSans-CaptionBold'), url('PTSans-CaptionBold.woff') format('woff');
}
@font-face {
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
  src: local('Neucha'), url('Neucha.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('OpenSans-Light.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('OpenSans.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('OpenSans-Semibold.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('OpenSans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('OpenSans-Extrabold.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url('OpenSansLight-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('OpenSans-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url('OpenSans-SemiboldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('OpenSans-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url('OpenSans-ExtraboldItalic.woff') format('woff');
}
/* HTML 5 */
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  display: block;
}
