// base style for CP
* { box-sizing: border-box; }
html, body { height: 100%; }

body {
    color: var(--gray);
    @include gradient(#21283a, #0b0f16, 1200px 50px at 20% -10%);
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}