$white:			#fff;
$black:			#000;
$middle-grey:	#adb5bd; //

$primary:		#2C3E50; //2f3d60
$secondary:		#335b8e; //
$success:		#72B110; //
$info:			#3498DB; //17a2d8
$hot:			#faaa32; //
$warning:		#FB8C00; //
$danger:		#C60D14; //
$moment:		#772953; //20c997
$extra:			#6610f2; //
$dark:			#212529; //
$gray:			#95a5a6; //6c757d
$light:			#e9ecef; //

$accent:		#7cf3c6;
$accent-alt:    #008000;
$muted:         #aab4c3;

$colors:(
	"primary":    $primary,
	"secondary":  $secondary,
	"success":    $success,
	"info":       $info,
	"hot":        $hot,
	"warning":    $warning,
	"danger":     $danger,
	"moment":     $moment,
	"extra":      $extra,
	"dark":       $dark,
	"gray":       $gray,
	"light":      $light,
	"white":      $white,
	"black":      $black,
	"accent":     $accent,
	"accent-alt": $accent-alt,
	"muted":      $muted,
);

