html {
	font-size: $body-fs;
}
body {	background-color: $bgc-roocms;
	background-image: -webkit-linear-gradient(top, fade-out($brand-dark, .95), fade-out($brand-dark, .9)), url("../img/bg.png");
	background-image: -moz-linear-gradient(top, fade-out($brand-dark, .95), fade-out($brand-dark, .9)), url("../img/bg.png");
	background-image: -ms-linear-gradient(top, fade-out($brand-dark, .95), fade-out($brand-dark, .9)), url("../img/bg.png");
	background-image: linear-gradient(top, fade-out($brand-dark, .95), fade-out($brand-dark, .9)), url("../img/bg.png");
	font-family: $ptsans, $opensans, $ubuntu, $trebuchet, $tahoma;
	padding: 0;
	margin: 0;
	text-rendering: optimizeLegibility;
	//@extend .bgdots
}

/* Style fonts */
h1, h2, h3, h4, h5, h6 {font-family: $ubuntu, $ptsans;}
/*@media (max-width: map-get($grid-breakpoints, sm)) {

}
@media (min-width: map-get($grid-breakpoints, sm)) {

}
@media (min-width: map-get($grid-breakpoints, md)) {

}
@media (min-width: map-get($grid-breakpoints, lg)) {

}
@media (min-width: map-get($grid-breakpoints, xl)) {

}
@media (min-width: map-get($grid-breakpoints, xxl)) {
	h1, .h1 {font-size: 1rem * 2.5;}
	h2, .h2 {font-size: 1rem * 2;}
	h3, .h3 {font-size: 1rem * 1.75;}
	h4, .h4 {font-size: 1rem * 1.5;}
	h5, .h5 {font-size: 1rem * 1.25;}
}*/

button, .btn, .label, .badge {font-family: $ptsans;}

.small, small {
	font-size: .7rem;
	line-height: .8rem;

	@extend button;
}

.badge, .alert {
	font-family: $ptsanscap;
}

/* Background "dots" */
.bgdots {
	background:
		linear-gradient(90deg, $bgc-roocms ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bgc-roocms ($dot-space - $dot-size), transparent 1%) center,
		$white;
	background-size: $dot-space $dot-space;
}

/* Blockquote */
blockquote {
	@extend .ptsans;
	background-color: fade-out($brand-dark, .95);
	padding: .5rem;
	//@include shadow(0 0 .75rem $brand-gray inset);
}

/* Paragraph */
p {text-align: justify;}
p > i {font-family: $ptsans;}

/* Link */
a {font-family: $ptsans;}
a[class=""], a:not([class]) {font-weight: 600;}

/* Mark */
mark {padding: 0;border-bottom: 1px dotted $brand-danger;}

// Overflow
//.no-overflow		{overflow: hidden;text-overflow: ellipsis;}
//.text-overflow	{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}