html {
	font-size: $body-fs;
}
body {	background-color: $bgc-roocms;
	background-image: -webkit-linear-gradient(top, fade-out($brand-dark, .95), fade-out($brand-dark, .85)), url("../img/bg.png");
	background-image: -moz-linear-gradient(top, fade-out($brand-dark, .95), fade-out($brand-dark, .85)), url("../img/bg.png");
	background-image: -ms-linear-gradient(top, fade-out($brand-dark, .95), fade-out($brand-dark, .85)), url("../img/bg.png");
	background-image: linear-gradient(top, fade-out($brand-dark, .95), fade-out($brand-dark, .85)), url("../img/bg.png");
	font-family: $opensans, $ubuntu, $trebuchet, $tahoma;
	padding: 0;
	margin: 0;
	text-rendering: optimizeLegibility;
}

/* Style fonts */
h1, h2, h3, h4, h5, h6 {font-family: $ubuntu, $ptsans;}
button, .btn, .label, .badge {font-family: $ptsans;}

.small, small {
	color: $brand-gray;
	font-size: .7rem;
	line-height: .8rem;

	@extend button;
}

/* Blockquote */
blockquote {
	@extend .ptsans;
	background-color: fade-out($brand-dark, .95);
	padding: .5rem;
	//@include shadow(0 0 .75rem $brand-gray inset);
}

/* Paragraph */
p {text-align: justify;}

/* Link */
a {font-family: $ptsans;}
a[class=""], a:not([class]) {font-weight: 600;}

/* Mark */
mark {padding: 0;border-bottom: 1px dotted $brand-danger;}

// Overflow
//.no-overflow		{overflow: hidden;text-overflow: ellipsis;}
//.text-overflow	{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}