html {
	font-size: $body-fs;
}
body {	background-color: $bgc-roocms;
	//background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
	background-image: -webkit-linear-gradient(top, fade-out($brand-dark, .95), fade-out($brand-dark, .9)), url("../img/bg.png");
	background-image: -moz-linear-gradient(top, fade-out($brand-dark, .95), fade-out($brand-dark, .9)), url("../img/bg.png");
	background-image: -ms-linear-gradient(top, fade-out($brand-dark, .95), fade-out($brand-dark, .9)), url("../img/bg.png");
	background-image: linear-gradient(top, fade-out($brand-dark, .95), fade-out($brand-dark, .9)), url("../img/bg.png");
	font-family: $opensans, $ubuntu, $trebuchet, $tahoma;
	padding: 0;
	margin: 0;
	text-rendering: optimizeLegibility;
}

/* Style fonts */
h1, h2, h3, h4, h5, h6 {font-family: $ubuntu, $ptsans;}
/*@media (max-width: map-get($grid-breakpoints, sm)) {

}
@media (min-width: map-get($grid-breakpoints, sm)) {

}
@media (min-width: map-get($grid-breakpoints, md)) {

}
@media (min-width: map-get($grid-breakpoints, lg)) {

}
@media (min-width: map-get($grid-breakpoints, xl)) {

}
@media (min-width: map-get($grid-breakpoints, xxl)) {
	h1, .h1 {font-size: 1rem * 2.5;}
	h2, .h2 {font-size: 1rem * 2;}
	h3, .h3 {font-size: 1rem * 1.75;}
	h4, .h4 {font-size: 1rem * 1.5;}
	h5, .h5 {font-size: 1rem * 1.25;}
}*/

button, .btn, .label, .badge {font-family: $ptsans;}

.small, small {
	font-size: .7rem;
	line-height: .8rem;

	@extend button;
}

.badge, .alert {
	font-family: $ptsanscap;
}

/* Blockquote */
blockquote {
	@extend .ptsans;
	background-color: fade-out($brand-dark, .95);
	padding: .5rem;
	//@include shadow(0 0 .75rem $brand-gray inset);
}

/* Paragraph */
p {text-align: justify;}

/* Link */
a {font-family: $ptsans;}
a[class=""], a:not([class]) {font-weight: 600;}

/* Mark */
mark {padding: 0;border-bottom: 1px dotted $brand-danger;}

// Overflow
//.no-overflow		{overflow: hidden;text-overflow: ellipsis;}
//.text-overflow	{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}