/* Inputs invalid and error glowing */
$ifglow: alpha($brand-danger) * .6;

input:focus:invalid {
	@include shadow(0 0 0 .2rem fade-out($brand-danger, $ifglow));
	border: 1px solid $brand-danger;
	background: $white url(../img/required.png) no-repeat right top !important;
}
input:required:empty {background: $white url(../img/required.png) no-repeat right top !important;}
input.non-bgreq:required:empty,
input:required:valid {background-image: none !important;}