/* Shadows */
@mixin shadow($shadow) {
	-moz-box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
	box-shadow: $shadow;
}

.shadow 	{@include shadow(0 0 6px $brand-dark)}
.inshadow 	{@include shadow(0 0 2px $brand-dark inset)}

/* Blur */
@mixin blur($blur: 4px) {
	-webkit-filter: blur($blur);
	-moz-filter: blur($blur);
	-o-filter: blur($blur);
	-ms-filter: blur($blur);
	filter: blur($blur);
}

.blur {
	@include blur();
}
.blured {
	@include blur(1px);
}
.blured:hover {
	@include blur(0);
}

// Transition
@mixin transition($time: .2) {
	transition: all #{$time}s ease-in-out;
	-webkit-transition: all #{$time}s ease-in-out;
	-moz-transition: all #{$time}s ease-in-out;
	-ms-transition:  all #{$time}s ease-in-out;
	-o-transition:  all #{$time}s ease-in-out;
	outline:none;
}