/* Top Navigation */
.roocms-topnav-link {
	font-family: $opensans;
	padding-left: .6rem;
	padding-right: .6rem;
}
.roocms-topnav-sublink {
	padding-left: .5rem;
	padding-right: .5rem;

	&:hover {
		//border-left: 1px solid $middle-grey;
		//padding-left: 0.6rem !important;
		background: $brand-light;
	}

	@include transition(.2);
}

.roocms-topnav-sublink-first {
	font-weight: bold;
	@extend .roocms-topnav-sublink;
}

/* Breadcrumb */
.breadcrumb li:last-child a {
	pointer-events: none;
}

/* Move TOP */
a#move_top {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	display: none;
	opacity: .9;
	filter: alpha(opacity=90);
}

@media (min-width: 576px) {
	a#move_top {
		right: 2rem;
	}
}

/* Foot Navigation */
.roocms-foot-link {
	//padding-left: .1rem;
	//padding-right: .1rem;

	&:hover {
		//border-left: 1px solid $middle-grey;
		//padding-left: 0.6rem !important;
		//background: $brand-light;
	}

	@include transition(.2);
}

.roocms-foot-link-first {
	font-weight: bold;
	@extend .roocms-foot-link;
}

/* Effects */

// Shadow
.shadow 	{@include shadow(0 0 6px $brand-dark)}
.inshadow 	{@include shadow(0 0 2px $brand-dark inset)}

// Blur
.blur {
	@include blur();
}
.blured {
	@include blur(1px);
}
.blured:hover {
	@include blur(0);
}