/* Top Navigation */
.roocms-topnav-link {
	font-family: $opensans;
	padding-left: .6rem;
	padding-right: .6rem;
}
.roocms-topnav-sublink {
	padding-left: .5rem;
	padding-right: .5rem;

	&:hover {
		//border-left: 1px solid $middle-grey;
		//padding-left: 0.6rem !important;
		background: darken($brand-light, 5%);
	}

	@include transition(.2);
}

.roocms-topnav-sublink-first {
	font-weight: bold;
	@extend .roocms-topnav-sublink;
}

/* Breadcrumb */
.breadcrumb li:last-child a {
	pointer-events: none;
}

/* Tag Cloud */
.tag_amount {
	display: inline-block;
	position: relative;
	padding: 1px 0 1px 8px;
	border-left: 1px solid $brand-dark;
}
.tag_amount:after, .tag_amount:before {
	content: '';
	position: absolute;
	top: .3rem;
	border-top: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid transparent;
}
.tag_amount:before {left: 0;border-left: 4px solid $brand-dark;}
.tag_amount:after {left: -1px; border-left: 4px solid $white;}
a.tag:hover .tag_amount:after, a.tag.active .tag_amount::after {left: -1px; border-left: 4px solid $brand-light;}
a.tag:hover .tag_amount:before {left: 0; border-left: 4px solid $white;}
a.tag.active:hover .tag_amount:after {left: -1px; border-left: 4px solid $brand-dark;}

/* Feed */
@media (min-width: map-get($grid-breakpoints, md)) {
	.roocms-feedbrief-mh {
		max-height: 191px;
	}
}
@media (min-width: map-get($grid-breakpoints, xl)) {
	.roocms-feedbrief-mh {
		max-height: 222.219px;
	}
}

.roocms-feedbrief-layer {
	background-image: -webkit-linear-gradient(top, transparentize($white, 1) 0%, $white 100%);
	background-image: -moz-linear-gradient(top, transparentize($white, 1) 0%, $white 100%);
	background-image: -ms-linear-gradient(top, transparentize($white, 1) 0%, $white 100%);
	background-image: linear-gradient(top, transparentize($white, 1) 0%, $white 100%);
	position: absolute;
	height: 2rem;
	bottom: 0;
	left: 0;
	right: 0;
}

/* Feed item */
.feed-item-header {
	position: relative;
	//background-color: transparentize($brand-dark, .2);
}
.feed-item-header::after {
	content: "";
	opacity: .4;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}


/* Move TOP */
a#move_top {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	display: none;
	opacity: .9;
	filter: alpha(opacity=90);
}

@media (min-width: 576px) {
	a#move_top {
		right: 2rem;
	}
}

/* Foot Navigation */
.roocms-foot-link {
	//padding-left: .1rem;
	//padding-right: .1rem;

	&:hover {
		//border-left: 1px solid $middle-grey;
		//padding-left: 0.6rem !important;
		//background: $brand-light;
	}

	@include transition(.2);
}

.roocms-foot-link-first {
	font-weight: bold;
	@extend .roocms-foot-link;
}

/* Effects */

// Shadow
.shadow 	{@include shadow(0 0 6px $brand-dark)}
.inshadow 	{@include shadow(0 0 2px $brand-dark inset)}

// Blur
.blur {
	@include blur();
}
.blured {
	@include blur(1px);
}
.blured:hover {
	@include blur(0);
}

/* Text Shadow */
.text-shadow 	{text-shadow: 1px 1px 1px $brand-dark;}