/* Top Navigation */
.roocms-topnav-link {
	font-family: $opensans;
	padding-left: .6rem;
	padding-right: .6rem;
}
.roocms-topnav-sublink {
	padding-left: .5rem;
	padding-right: .5rem;

	&:hover {
		//border-left: 1px solid $middle-grey;
		//padding-left: 0.6rem !important;
		background: $brand-light;
	}

	@include transition(.2);
}

.roocms-topnav-sublink-first {
	font-weight: bold;
	@extend .roocms-topnav-sublink;
}

/* Move TOP */
a#move_top {
	position: fixed;
	right: 10px;
	bottom: 10px;
	display: none;
	opacity:0.9;
	filter: alpha(opacity=90);
}