/* Transition */
*:not([class^="fancybox"]):hover,
.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
	transition: all 0.20s ease-in-out;-webkit-transition: all 0.20s ease-in-out;-moz-transition: all 0.20s ease-in-out;-ms-transition:  all 0.20s ease-in-out;-o-transition:  all 0.20s ease-in-out;outline:none;
}

/* Anti Drag*/
.btn-breadcrumb, .btn-breadcrumb > * {transition: none !important;-webkit-transition: none !important;-moz-transition: none !important;outline:none;}