$white:	          #fff;
$middle-grey:	  #adb5bd;

$brand-primary:	  #2f3d60; // #428bca
$brand-secondary: #335b8e;
$brand-success:	  #72B110; // #5cb85c
$brand-info:	  #17a2d8; // #5bc0de #49E
$brand-hot:       #faaa32;
$brand-warning:	  #FB8C00; // #f0ad4e
$brand-danger:    #C60D14; // #d9534f
$brand-moment:    #20c997;
$brand-extra:     #6610f2;
$brand-dark:      #212529;
$brand-gray:      #6c757d;
$brand-light:     #e9ecef;

$colors:(
	"primary":   $brand-primary,
	"secondary": $brand-secondary,
	"success":   $brand-success,
	"info":      $brand-info,
	"hot":       $brand-hot,
	"warning":   $brand-warning,
	"danger":    $brand-danger,
	"moment":    $brand-moment,
	"extra":     $brand-extra,
	"dark":      $brand-dark,
	"gray":      $brand-gray,
	"light":     $brand-light
);

// Fonts
$tahoma:    'Tahoma';
$trebuchet: 'Trebuchet MS';
$ubuntu:    'Ubuntu';
$ptsans:    'PT Sans';
$opensans:  'Open Sans';

// Main color
$bgc-roocms: lighten($brand-dark, 85%);

// Main size
$body-fs: 15px;