$white:	          #fff;
$black:	          #000;
$middle-grey:	  #adb5bd; //

$brand-primary:	  #2C3E50; //2f3d60
$brand-secondary: #335b8e; //
$brand-success:	  #72B110; //
$brand-info:	  #3498DB; //17a2d8
$brand-hot:       #faaa32; //
$brand-warning:	  #FB8C00; //
$brand-danger:    #C60D14; //
$brand-moment:    #772953; //20c997
$brand-extra:     #6610f2; //
$brand-dark:      #212529; //
$brand-gray:      #95a5a6; //6c757d
$brand-light:     #e9ecef; //

$colors:(
	"primary":   $brand-primary,
	"secondary": $brand-secondary,
	"success":   $brand-success,
	"info":      $brand-info,
	"hot":       $brand-hot,
	"warning":   $brand-warning,
	"danger":    $brand-danger,
	"moment":    $brand-moment,
	"extra":     $brand-extra,
	"dark":      $brand-dark,
	"gray":      $brand-gray,
	"light":     $brand-light,
	"white":     $white,
	"black":     $black
);

// Main color
$bgc-roocms: lighten($brand-dark, 83%);

// Fonts
$arial:     'Arial';
$tahoma:    'Tahoma';
$verdana:   'Verdana';
$trebuchet: 'Trebuchet MS';

$ubuntu:    'Ubuntu';
$ptsans:    'PT Sans';
$ptsanscap: 'PT Sans Caption';
$opensans:  'Open Sans';

// Background pattern
$dot-size: 1px;
$dot-space: 5px;

// Main size
$body-fs: 15px;

// Grid
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1440px
);

// image attache border-radius
$img-border-radius: calc(.25rem - 1px);