RewriteEngine On
RewriteBase /api/

# Block access to all files except index.php
<Files "*">
    Require all denied
</Files>

# Allow access only to index.php
<Files "index.php">
    Require all granted
</Files>

# All requests are redirected to index.php
RewriteRule ^ index.php [QSA,L]